<%- include('../../layout/type01/header.ejs', {
    url: "../../../"
}) %>


<!-- 컨텐츠 내용 -->
<div class="layoutContArea">
    <!-- h2 타이틀 -->
    <div class="comH2Group">
        <div class="alignL">
            <h2>체력측정결과통계</h2>
        </div>
        <div class="alignR">
            <ul class="locaGroup">
                <li class="item">HOME</li>
                <li class="item">홈페이지관리</li>
                <li class="item">체력측정결과통계</li>
            </ul>
        </div>
    </div>
     <!-- 검색조건 -->
    <div class="cptSearchArea">
        <table>
            <caption></caption>
            <colgroup>
                <col style="width:150px;" />
                <col style="width:auto;" />
                <col style="width:150px;" />
                <col style="width:auto;" />
            </colgroup>
            <tbody>
                <tr>
                    <th>사업년도</th>
                    <td>
                        <select name="" id="" class="iptSlt ">
                            <option value="">2023</option>
                            <option value=""></option>
                        </select>
                    </td>
                    <th>체력인증센터</th>
                    <td>
                        <div class="frmGroup">
                            <select name="" id="" class="iptSlt frmMd">
                                <option value="">시도 전체</option>
                                <option value=""></option>
                            </select>
                            <select name="" id="" class="iptSlt ">
                                <option value="">센터 전체</option>
                                <option value=""></option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>기간조회</th>
                    <td>
                        <div class="frmGroup">
                            <div class="iptDate"><input type="text" class="iptText" id="datepicker1"></div>
                            <div class="textBox deco">~</div>
                            <div class="iptDate"><input type="text" class="iptText" id="datepicker2"></div>
                        </div>
                    </td>
                    <th>연령구분</th>
                    <td>
                        <select name="" id="" class="iptSlt ">
                            <option value="">전체</option>
                            <option value=""></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>측정횟수</th>
                    <td>
                        <select name="" id="" class="iptSlt ">
                            <option value="">전체</option>
                            <option value=""></option>
                        </select>
                    </td>
                    <th>출장여부</th>
                    <td>
                        <select name="" id="" class="iptSlt ">
                            <option value="">전체</option>
                            <option value=""></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>처방포함여부</th>
                    <td>
                        <select name="" id="" class="iptSlt ">
                            <option value="">전체</option>
                            <option value=""></option>
                        </select>
                    </td>
                    <th>미측정항목갯수</th>
                    <td>
                        <select name="" id="" class="iptSlt ">
                            <option value="">전체</option>
                            <option value=""></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>운영구분</th>
                    <td>
                        <select name="" id="" class="iptSlt ">
                            <option value="">전체</option>
                            <option value=""></option>
                        </select>
                    </td>
                    <th>측정등급</th>
                    <td>
                        <select name="" id="" class="iptSlt ">
                            <option value="">전체</option>
                            <option value=""></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>통계내용</th>
                    <td colspan="3">
                        <div class="frmChoBox"><input id="rdo001" type="radio" class="iptRdo" name="rdo001"><label for="rdo001" class="iptLbl">월별 측정건수</label></div>
                        <div class="frmChoBox"><input id="rdo002" type="radio" class="iptRdo" name="rdo001"><label for="rdo002" class="iptLbl">월별 인증건수</label></div>
                        <div class="frmChoBox"><input id="rdo003" type="radio" class="iptRdo" name="rdo001"><label for="rdo003" class="iptLbl">연령별 측정건수</label></div>
                        <div class="frmChoBox"><input id="rdo004" type="radio" class="iptRdo" name="rdo001"><label for="rdo004" class="iptLbl">체력인증별 건수</label></div>
                        <div class="frmChoBox"><input id="rdo005" type="radio" class="iptRdo" name="rdo001"><label for="rdo005" class="iptLbl">참여구분별 건수</label></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="right">
                        <button type="button" class="btnSearch">검색</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--월별 측정건수-->
    <!-- 그리드/테이블 상단 -->
    <div class="cptGroupTop">
        <div class="alignL">
            <div class="title" style="font-size:24px;">월별 측정건수</div>
        </div>
        <div class="alignR">
            <div class="comSideOpt">
                <ul class="opList">
                    <li class="item">
                        <button type="button" class="srhBtn bLine">엑셀다운로드</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 그리드 -->
    <div class="cptGrid">
        <table class="gridTb">
            <colgroup>
                <col style="width:10%;">
                <col style="width:auto;">
                <col style="width:10%;">
                <col style="width:5.5%;">
                <col style="width:5.5%;">
                <col style="width:5.5%;">
                <col style="width:5.5%;">
                <col style="width:5.5%;">
                <col style="width:5.5%;">
                <col style="width:5.5%;">
                <col style="width:5.5%;">
                <col style="width:5.5%;">
                <col style="width:5.5%;">
                <col style="width:5.5%;">
                <col style="width:5.5%;">
            </colgroup>
            <thead>
                <tr>
                    <th>시도</th>
                    <th>체력인증센터</th>
                    <th>누계</th>
                    <th>1월</th>
                    <th>2월</th>
                    <th>3월</th>
                    <th>4월</th>
                    <th>5월</th>
                    <th>6월</th>
                    <th>7월</th>
                    <th>8월</th>
                    <th>9월</th>
                    <th>10월</th>
                    <th>11월</th>
                    <th>12월</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>서울</td>
                    <td>KSPO송파</td>
                    <td>124388</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>서울</td>
                    <td>KSPO송파</td>
                    <td>124388</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td colspan="2">합계</td>
                    <td>142353</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- //그리드 -->

    <!--월별 인증건수-->
    <!-- 그리드/테이블 상단 -->
    <div class="cptGroupTop">
        <div class="alignL">
            <div class="title" style="font-size:24px;">월별 인증건수</div>
        </div>
        <div class="alignR">
            <div class="comSideOpt">
                <ul class="opList">
                    <li class="item">
                        <button type="button" class="srhBtn bLine">엑셀다운로드</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 그리드 -->
    <div class="cptGrid">
        <table class="gridTb">
            <colgroup>
                <col style="width:10%;">
                <col style="width:auto;">
                <col style="width:10%;">
                <col style="width:5.5%;">
                <col style="width:5.5%;">
                <col style="width:5.5%;">
                <col style="width:5.5%;">
                <col style="width:5.5%;">
                <col style="width:5.5%;">
                <col style="width:5.5%;">
                <col style="width:5.5%;">
                <col style="width:5.5%;">
                <col style="width:5.5%;">
                <col style="width:5.5%;">
                <col style="width:5.5%;">
            </colgroup>
            <thead>
                <tr>
                    <th>시도</th>
                    <th>체력인증센터</th>
                    <th>누계</th>
                    <th>1월</th>
                    <th>2월</th>
                    <th>3월</th>
                    <th>4월</th>
                    <th>5월</th>
                    <th>6월</th>
                    <th>7월</th>
                    <th>8월</th>
                    <th>9월</th>
                    <th>10월</th>
                    <th>11월</th>
                    <th>12월</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>서울</td>
                    <td>KSPO송파</td>
                    <td>124388</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>서울</td>
                    <td>KSPO송파</td>
                    <td>124388</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td colspan="2">합계</td>
                    <td>142353</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- //그리드 -->

    <!--연령별 측정건수-->
    <!-- 그리드/테이블 상단 -->
    <div class="cptGroupTop">
        <div class="alignL">
            <div class="title" style="font-size:24px;">연령별 측정건수</div>
        </div>
        <div class="alignR">
            <div class="comSideOpt">
                <ul class="opList">
                    <li class="item">
                        <button type="button" class="srhBtn bLine">엑셀다운로드</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 그리드 -->
    <div class="cptGrid">
        <table class="gridTb">
            <colgroup>
                <col style="width:10%;">
                <col style="width:auto;">
                <col style="width:10%;">
                <col style="width:7.2%;">
                <col style="width:7.2%;">
                <col style="width:7.2%;">
                <col style="width:7.2%;">
                <col style="width:7.2%;">
                <col style="width:7.2%;">
                <col style="width:7.2%;">
                <col style="width:7.2%;">
                <col style="width:7.2%;">
            </colgroup>
            <thead>
                <tr>
                    <th>시도</th>
                    <th>체력인증센터</th>
                    <th>누계</th>
                    <th>10대</th>
                    <th>20대</th>
                    <th>30대</th>
                    <th>40대</th>
                    <th>50대</th>
                    <th>60대</th>
                    <th>70대</th>
                    <th>80대</th>
                    <th>기타(탈퇴)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>서울</td>
                    <td>KSPO송파</td>
                    <td>124388</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                </tr>
                <tr>
                    <td>서울</td>
                    <td>KSPO송파</td>
                    <td>124388</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                </tr>
                <tr>
                    <td colspan="2">합계</td>
                    <td>142353</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- //그리드 -->

    <!--성별 측정건수-->
    <!-- 그리드/테이블 상단 -->
    <div class="cptGroupTop">
        <div class="alignL">
            <div class="title" style="font-size:24px;">성별 측정건수</div>
        </div>
        <div class="alignR">
            <div class="comSideOpt">
                <ul class="opList">
                    <li class="item">
                        <button type="button" class="srhBtn bLine">엑셀다운로드</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 그리드 -->
    <div class="cptGrid">
        <table class="gridTb">
            <colgroup>
                <col style="width:10%;">
                <col style="width:auto;">
                <col style="width:10%;">
                <col style="width:20%;">
                <col style="width:20%;">
                <col style="width:20%;">
            </colgroup>
            <thead>
                <tr>
                    <th>시도</th>
                    <th>체력인증센터</th>
                    <th>누계</th>
                    <th>남자</th>
                    <th>여자</th>
                    <th>기타(탈퇴)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>서울</td>
                    <td>KSPO송파</td>
                    <td>124388</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>서울</td>
                    <td>KSPO송파</td>
                    <td>124388</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td colspan="2">합계</td>
                    <td>142353</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- //그리드 -->

    <!--체력인증별 측정건수-->
    <!-- 그리드/테이블 상단 -->
    <div class="cptGroupTop">
        <div class="alignL">
            <div class="title" style="font-size:24px;">체력인증별 측정건수</div>
        </div>
        <div class="alignR">
            <div class="comSideOpt">
                <ul class="opList">
                    <li class="item">
                        <button type="button" class="srhBtn bLine">엑셀다운로드</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 그리드 -->
    <div class="cptGrid">
        <table class="gridTb">
            <colgroup>
                <col style="width:10%;">
                <col style="width:auto;">
                <col style="width:10%;">
                <col style="width:9.2%;">
                <col style="width:9.2%;">
                <col style="width:9.2%;">
                <col style="width:9.2%;">
                <col style="width:9.2%;">
                <col style="width:9.2%;">
                <col style="width:9.2%;">
            </colgroup>
            <thead>
                <tr>
                    <th>시도</th>
                    <th>체력인증센터</th>
                    <th>누계</th>
                    <th>1등급</th>
                    <th>2등급</th>
                    <th>3등급</th>
                    <th>4등급</th>
                    <th>5등급</th>
                    <th>6등급</th>
                    <th>등급 없음</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>서울</td>
                    <td>KSPO송파</td>
                    <td>124388</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>서울</td>
                    <td>KSPO송파</td>
                    <td>124388</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td colspan="2">합계</td>
                    <td>142353</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- //그리드 -->

    <!--참여구분별 측정건수-->
    <!-- 그리드/테이블 상단 -->
    <div class="cptGroupTop">
        <div class="alignL">
            <div class="title" style="font-size:24px;">참여구분별 측정건수</div>
        </div>
        <div class="alignR">
            <div class="comSideOpt">
                <ul class="opList">
                    <li class="item">
                        <button type="button" class="srhBtn bLine">엑셀다운로드</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 그리드 -->
    <div class="cptVertScr type02">
        <div class="lftHead">
            <table>
                <colgroup>
                    <col style="width:25%;">
                    <col style="width:auto;">
                    <col style="width:25%;">
                </colgroup>
                <thead>
                    <tr>
                        <th>시도</th>
                        <th>체력인증센터</th>
                        <th>누계</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>서울</td>
                        <td>KSPO송파</td>
                        <td>124388</td>
                    </tr>
                    <tr>
                        <td>서울</td>
                        <td>KSPO송파</td>
                        <td>124388</td>
                    </tr>
                    <tr>
                        <td colspan="2">합계</td>
                        <td>1342345</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="rytBody">
            <table>
                <colgroup>
                    <col style="width:4%;">
                    <col style="width:4%;">
                    <col style="width:4%;">
                    <col style="width:4%;">
                    <col style="width:4%;">
                    <col style="width:4%;">
                    <col style="width:4%;">
                    <col style="width:4%;">
                    <col style="width:4%;">
                    <col style="width:4%;">
                    <col style="width:4%;">
                    <col style="width:4%;">
                    <col style="width:4%;">
                    <col style="width:4%;">
                    <col style="width:4%;">
                    <col style="width:4%;">
                    <col style="width:4%;">
                    <col style="width:4%;">
                    <col style="width:4%;">
                </colgroup>
                <thead>
                    <tr>
                        <th colspan="8">체력관리</th>
                        <th colspan="8">채용</th>
                        <th colspan="3">입시</th>
                    </tr>
                    <tr>
                        <!--체력관리-->
                        <th>일반</th>
                        <th>군인</th>
                        <th>경찰</th>
                        <th>철도경찰</th>
                        <th>해양경찰</th>
                        <th>소방</th>
                        <th>홍보 및 기타</th>
                        <th>직접입력</th>

                        <!--채용-->
                        <th>경찰<br>(아동지킴이<br>포함)</th>
                        <th>군인(장교)</th>
                        <th>군인(준,부사관)</th>
                        <th>군인<br>(ROTC,학사장교,군장학생)</th>
                        <th>교육청<br>(학교보안관)</th>
                        <th>교육청<br>(경비,시설관리,미화,당직, 조리 등)</th>
                        <th>지자체 및<br>공공기관</th>
                        <th>직접입력</th>

                        <!--입시-->
                        <th>대학</th>
                        <th>군특성학교</th>
                        <th>직접입력</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                        <td>10</td>
                        <td>11</td>
                        <td>12</td>
                        <td>13</td>
                        <td>14</td>
                        <td>15</td>
                        <td>16</td>
                        <td>17</td>
                        <td>18</td>
                        <td>19</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                        <td>10</td>
                        <td>11</td>
                        <td>12</td>
                        <td>13</td>
                        <td>14</td>
                        <td>15</td>
                        <td>16</td>
                        <td>17</td>
                        <td>18</td>
                        <td>19</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                        <td>10</td>
                        <td>11</td>
                        <td>12</td>
                        <td>13</td>
                        <td>14</td>
                        <td>15</td>
                        <td>16</td>
                        <td>17</td>
                        <td>18</td>
                        <td>19</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- //그리드 -->

    <!--3단분리-->
    <!-- 그리드/테이블 상단 -->
    <div class="cptGroupTop">
        <div class="alignL">
            <div class="title" style="font-size:24px;">참여구분별 측정건수</div>
        </div>
    </div>
    <!-- 작은 타이틀 -->
    <div class="comSmTit">
        <div class="alignL">
            <div class="title">체력측정</div>
        </div>
        <div class="alignR">
            <div class="comSideOpt">
                <ul class="opList">
                    <li class="item">
                        <button type="button" class="srhBtn bLine">엑셀다운로드</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="cptGrid">
        <table class="gridTb">
            <colgroup>
                <col style="width:10%;">
                <col style="width:auto;">
                <col style="width:10%;">
                <col style="width:8%;">
                <col style="width:8%;">
                <col style="width:8%;">
                <col style="width:8%;">
                <col style="width:8%;">
                <col style="width:8%;">
                <col style="width:8%;">
                <col style="width:8%;">
            </colgroup>
            <thead>
                <tr>
                    <th>시도</th>
                    <th>체력인증센터</th>
                    <th>누계</th>
                    <th>일반</th>
                    <th>군인</th>
                    <th>경찰</th>
                    <th>철도경찰</th>
                    <th>해양경찰</th>
                    <th>소방</th>
                    <th>홍보 및 기타</th>
                    <th>직접입력</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>서울</td>
                    <td>KSPO송파</td>
                    <td>124388</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>서울</td>
                    <td>KSPO송파</td>
                    <td>124388</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td colspan="2">합계</td>
                    <td>1342345</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- 작은 타이틀 -->
    <div class="comSmTit">
        <div class="alignL">
            <div class="title">채용</div>
        </div>
        <div class="alignR">
            <div class="comSideOpt">
                <ul class="opList">
                    <li class="item">
                        <button type="button" class="srhBtn bLine">엑셀다운로드</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="cptGrid">
        <table class="gridTb">
            <colgroup>
                <col style="width:10%;">
                <col style="width:auto;">
                <col style="width:10%;">
                <col style="width:8%;">
                <col style="width:8%;">
                <col style="width:8%;">
                <col style="width:8%;">
                <col style="width:8%;">
                <col style="width:8%;">
                <col style="width:8%;">
                <col style="width:8%;">
            </colgroup>
            <thead>
                <tr>
                    <th>시도</th>
                    <th>체력인증센터</th>
                    <th>누계</th>
                    <th>경찰<br/>(아동지킴이포함)</th>
                    <th>군인 (장교)</th>
                    <th>군인 (준,부사관)</th>
                    <th>군인<br/>(ROTC,학사장교,<br/>군장학생)</th>
                    <th>교육청<br/>(학교보안관)</th>
                    <th>교육청<br/>(경비,시설관리,미화,<br/>당직,조리 등)</th>
                    <th>지자체 및 공공기관</th>
                    <th>직접입력</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>서울</td>
                    <td>KSPO송파</td>
                    <td>124388</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>서울</td>
                    <td>KSPO송파</td>
                    <td>124388</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td colspan="2">합계</td>
                    <td>1342345</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- 작은 타이틀 -->
    <div class="comSmTit">
        <div class="alignL">
            <div class="title">입시</div>
        </div>
        <div class="alignR">
            <div class="comSideOpt">
                <ul class="opList">
                    <li class="item">
                        <button type="button" class="srhBtn bLine">엑셀다운로드</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="cptGrid">
        <table class="gridTb">
            <colgroup>
                <col style="width:10%;">
                <col style="width:auto;">
                <col style="width:10%;">
                <col style="width:21%;">
                <col style="width:21%;">
                <col style="width:21%;">
            </colgroup>
            <thead>
                <tr>
                    <th>시도</th>
                    <th>체력인증센터</th>
                    <th>누계</th>
                    <th>대학</th>
                    <th>군특성학교</th>
                    <th>직접입력</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>서울</td>
                    <td>KSPO송파</td>
                    <td>124388</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>서울</td>
                    <td>KSPO송파</td>
                    <td>124388</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td colspan="2">합계</td>
                    <td>1342345</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- //그리드 -->
</div>
<!-- //컨텐츠 내용 -->


<%- include('../../layout/type01/bottom.ejs', {
    url: "../../../"
}) %>