<%- include('../../layout/mng/header.ejs', {
    url: "../../../"
}) %>

                    <!-- 컨텐츠 내용 -->
                    <div class="layoutContArea">
                        
                        <!-- h2 타이틀 -->
                        <div class="comH2Group">
                            <div class="alignL">
                                <h2>공지사항</h2>
                            </div>
                            <div class="alignR">
                                <ul class="locaGroup">
                                    <li class="item">HOME</li>
                                    <li class="item">업무관리</li>
                                    <li class="item">공지사항</li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="comSmTit">
                            <div class="alignL">
                                <div class="title">게시글 내용</div>
                            </div>
                        </div>

                        <div class="cptTable">
                            <table class="tbView">
                                <colgroup>
                                    <col style="width:110px;">
                                    <col style="width:auto;">
                                    <col style="width:110px;">
                                    <col style="width:auto;">
                                </colgroup>
                                <caption></caption>
                                <tbody>
                                    <tr>
                                        <th class="left">제목</th>
                                        <td class="left" colspan="3">
                                            제목 예시 입니다.
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="left">등록자</th>
                                        <td class="left">김태형</td>
                                        <th class="left">등록일자</th>
                                        <td class="left">0000-00-00</td>
                                    </tr>
                                    <tr>
                                        <th class="left">구분</th>
                                        <td class="left">일반공지</td>
                                        <th class="left">조회</th>
                                        <td class="left">00</td>
                                    </tr>
                                    <tr>
                                        <th class="left">내용</th>
                                        <td class="left" colspan="3">
                                            게시글 내용입니다.<br>
                                            게시글 내용입니다.<br>
                                            게시글 내용입니다.<br>
                                            게시글 내용입니다.<br>
                                            게시글 내용입니다.<br>
                                            게시글 내용입니다.<br>
                                            게시글 내용입니다.<br>
                                            게시글 내용입니다.<br>
                                            게시글 내용입니다.<br>
                                            게시글 내용입니다.
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="left">첨부파일 1</th>
                                        <td class="left" colspan="3">
                                            <a href="#">첨부파일명.hwp</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="cptGroupBtnCov">
                            <div class="cptGroupBtm alignL">
                                <div class="comSideOpt">
                                    <button class="crudBtn gLine">목록</button>
                                </div>
                            </div>
                            <div class="cptGroupBtm alignR">
                                <div class="comSideOpt">
                                    <button type="button" class="crudBtn red" onclick="openAlert('splAlt01');">삭제</button>
                                    <button type="button" class="crudBtn dkBlue">수정</button>
                                </div>
                            </div>
                        </div>

                        <div class="comSmTit">
                            <div class="alignL">
                                <div class="title">댓글내용</div>
                            </div>
                        </div>

                        <div class="cptDataInsert">
                            <textarea>댓글 입력 중입니다.</textarea>
                            
                            <div class="cptGroupBtm alignR">
                                <div class="comSideOpt">
                                    <button type="button" class="srhBtn dkBlue">댓글등록</button>
                                </div>
                            </div>
                        </div>

                        <div class="cptDataSelect">
                            <p class="dataLog">
                                <span class="dataDt">2022-12-31</span>
                                <span class="dataAuthor">홍길동</span> / 
                                <span class="dataCenter">송파센터</span>
                            </p>
                            <a href="#none" class="delComment" onclick="openAlert('splAlt02')"><img src="/common/images/common/btn_del.png"></a>
                            <div class="descBox">
                                댓글내용 입니다.
                            </div>
                        </div>

                        <div class="cptDataSelect">
                            <p class="dataLog">
                                <span class="dataDt">2022-12-31</span>
                                <span class="dataAuthor">홍길동</span> / 
                                <span class="dataCenter">송파센터</span>
                            </p>
                            <a href="#none" class="delComment" onclick="openAlert('splAlt02')"><img src="/common/images/common/btn_del.png"></a>
                            <div class="descBox">
                                댓글내용 입니다.
                            </div>
                        </div>

                    </div>
                    <!-- //컨텐츠 내용 -->

                    <!-- 알럿 영역 -->
                    <div id="splAlt01" class="modAlert">
                        <div class="alertArea">
                            <div class="alertMsg">게시글을 삭제 하시겠습니까?</div>
                            <div class="alertBtm">
                                <button type="button" class="btn gLine" onclick="closeAlert('splAlt01');">취소</button>
                                <button type="button" class="btn dkBlue">확인</button>
                            </div>
                        </div>
                    </div>

                    <div id="splAlt02" class="modAlert">
                        <div class="alertArea">
                            <div class="alertMsg">댓글을 삭제 하시겠습니까?</div>
                            <div class="alertBtm">
                                <button type="button" class="btn gLine" onclick="closeAlert('splAlt02');">취소</button>
                                <button type="button" class="btn dkBlue">확인</button>
                            </div>
                        </div>
                    </div>


<%- include('../../layout/mng/bottom.ejs', {
    url: "../../../"
}) %>