<%- include('../../layout/type01/header.ejs', {
    url: "../../../"
}) %>


<!-- 컨텐츠 내용 -->
<div class="layoutContArea">
    
</div>
<!-- //컨텐츠 내용 -->


<!-- 팝업 영역 -->
<div id="sample01" class="modPopup md on"> <!-- class - md : 중간 팝업, on : 팝업오픈 -->
    <div class="popupDim">딤영역</div>
    <div class="popupArea"> <!-- style - 너비값(width), 높이값(height) : 팝업 너비 및 높이 지정 -->
        <div class="popupInMotion">
            <div class="popupContainer">
                <div class="popupContArea">
                    <button type="button" type="button" class="btnPopClose" onclick="closePopup('sample01');">닫기</button>
                    <div class="popTitle">상품권 신청내역</div>
                    <div class="popCont">
                        
                        <!-- 팝업 컨텐츠 영역 -->

                        <!-- 작은 타이틀 -->
                        <div class="comSmTit">
                            <div class="alignL">
                                <div class="title">기본정보</div>
                            </div>
                        </div>

                        <!-- 테이블 -->
                        <div class="cptTable">
                            <table class="tbView">
                                <colgroup>
                                    <col style="width:110px;" />
                                    <col style="width:auto;" />
                                    <col style="width:110px;" />
                                    <col style="width:auto;" />
                                </colgroup>
                                <caption></caption>
                                <tbody>
                                    <tr>
                                        <th class="left">이름</th>
                                        <td class="left">ㅇㅇㅇ</td>
                                        <th class="left">아이디</th>
                                        <td class="left">member_id</td>
                                    </tr>
                                    <tr>
                                        <th class="left">휴대전화</th>
                                        <td class="left">
                                            <div class="frmGroup">
                                                <select name="" id="" class="iptSlt">
                                                    <option value="">선택</option>
                                                </select>
                                                <div class="textBox deco">-</div>
                                                <input type="text" class="iptText" />
                                                <div class="textBox deco">-</div>
                                                <input type="text" class="iptText" />
                                            </div>
                                        </td>
                                        <th class="left">이메일</th>
                                        <td class="left">
                                            <div class="frmGroup">
                                                <input type="text" class="iptText" />
                                                <div class="textBox deco">@</div>
                                                <input type="text" class="iptText" />
                                                <select name="" id="" class="iptSlt">
                                                    <option value="">선택</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="left">주소</th>
                                        <td class="left" colspan="3">
                                            <div class="frmGroup">
                                                <input type="text" class="iptText frmHalf" placeholder="기본주소" />
                                                <input type="text" class="iptText frmHalf" placeholder="상세주소"/>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- 작은 타이틀 -->
                        <div class="comSmTit">
                            <div class="alignL">
                                <div class="title">신청 및 처리정보</div>
                            </div>
                        </div>

                        <!-- 테이블 -->
                        <div class="cptTable">
                            <table class="tbView">
                                <colgroup>
                                    <col style="width:110px;" />
                                    <col style="width:auto;" />
                                    <col style="width:110px;" />
                                    <col style="width:auto;" />
                                </colgroup>
                                <caption></caption>
                                <tbody>
                                    <tr>
                                        <th class="left">상품명</th>
                                        <td class="left">
                                            <select name="" id="" class="iptSlt">
                                                <option value="">상품명</option>
                                            </select>
                                        </td>
                                        <th class="left">상품번호</th>
                                        <td class="left">AAAA-00000</td>
                                    </tr>
                                    <tr>
                                        <th class="left">수량</th>
                                        <td class="left">
                                            <input type="text" class="iptText" />
                                        </td>
                                        <th class="left">신청일자</th>
                                        <td class="left">0000-00-00</td>
                                    </tr>
                                    <tr>
                                        <th class="left">상태정보</th>
                                        <td class="left" colspan="3">
                                            <div class="frmChoBox"><input id="rdo101" type="radio" class="iptRdo" name="rdo101"><label for="rdo101" class="iptLbl">신청</label></div>
                                            <div class="frmChoBox"><input id="rdo102" type="radio" class="iptRdo" name="rdo101"><label for="rdo102" class="iptLbl">처리중</label></div>
                                            <div class="frmChoBox"><input id="rdo103" type="radio" class="iptRdo" name="rdo101"><label for="rdo103" class="iptLbl">처리완료</label></div>
                                            <div class="frmChoBox"><input id="rdo104" type="radio" class="iptRdo" name="rdo101"><label for="rdo104" class="iptLbl">신청취소</label></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="left">처리일자</th>
                                        <td class="left" colspan="3">
                                            <div class="frmGroup">
                                                <div class="iptDate"><input type="text" class="iptText frmMd" id="datepicker1"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="left">관리자 메모</th>
                                        <td class="left" colspan="3">
                                            <textarea class="textArea areaMd"></textarea>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                        <!-- //팝업 컨텐츠 영역 -->

                    </div>
                    <!-- 팝업 버튼 영역 -->
                    <div class="popBtm">
                        <div class="alignR">
                            <button type="button" type="button" class="btn gLine">취소</button>
                            <button type="button" type="button" class="btn dkBlue">저장</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- //팝업 영역 -->


<%- include('../../layout/type01/bottom.ejs', {
    url: "../../../"
}) %>