<%
var url = locals.url ? locals.url : '../../';
%>
                    <div class="cptSnav">
                        <div class="snavArea">
                            <div class="snavMenu">
                                <div class="snavTitle">사이트관리</div>
                                <ul class="menuList">
                                    <li class="menuItem on"> <!-- class : on : 1depth 메뉴 활성화 -->
                                        <a href="#">공통코드관리</a>
                                        <ul class="subMenu">
                                            <li><a href="#">3Depth Menu 3Depth Menu 3Depth Menu</a></li>
                                            <li><a href="#" class="on">3Depth Menu</a></li>
                                            <li><a href="#">3Depth Menu</a></li>
                                            <li><a href="#">3Depth Menu</a></li>
                                        </ul>
                                    </li>
                                    <li class="menuItem"> <!--2 depth 경우 dropdown 클래스 추가-->
                                        <a href="#">메뉴관리</a>
                                    </li>
                                    <li class="menuItem">
                                        <a href="#">2뎁스메뉴</a>
                                        <ul class="subMenu">
                                            <li><a href="#">3Depth Menu 3Depth Menu 3Depth Menu</a></li>
                                            <li><a href="#" class="on">3Depth Menu</a></li>
                                            <li><a href="#">3Depth Menu</a></li>
                                            <li><a href="#">3Depth Menu</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="snavBtm">
                                    <!-- <button class="iconDownload">관리시스템 메뉴얼</button> -->
                                </div>
                            </div>
                        </div>
                    </div>