<%
var url = locals.url ? locals.url : '../../';
%>
                <div class="cptHeader">
                    <div class="headerArea">
                        <div class="headerLogo"><h1><a href="#"><img src="/common/images/layout/type01/ci.png" alt="" /></a></h1></div>
                        <div class="headerGroup">
                            <div class="headerProfile">
                                <dl class="headerDate">
                                    <dt>최종 로그인 날짜 : </dt>
                                    <dd>2022-12-30 AM 09:30:00</dd>
                                </dl>
                                <div class="headerUser"><b>아이웍스 전체관리자</b>님</div> <!-- addClass - arr : 셀렉트 아이콘 표시, on : 셀렉트 아이콘 위/아래 표시 -->
                                <a href="#" class="headerBtn">로그아웃</a>
                            </div>
                            <div class="headerNav">
                                <ul class="menuList">
                                    <li class="menuItem on"> <!-- class : on : 1depth 메뉴 활성화 -->
                                        <a href="#">회원관리</a>
                                    </li>
                                    <li class="menuItem">
                                        <a href="#">운영관리</a>
                                    </li>
                                    <li class="menuItem">
                                        <a href="#">게시물관리</a>
                                    </li>
                                    <li class="menuItem">
                                        <a href="#">홈페이지관리</a>
                                    </li>
                                    <li class="menuItem">
                                        <a href="#">시스템관리</a>
                                    </li>
                                </ul>
                                <div class="allMenuGroup">
                                    <button class="allMenu">전체메뉴</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="allMenuArea">
                        <ul class="menuList">
                            <li class="menuItem">
                                <a href="#">사이트관리</a>
                                <ul class="subMenu">
                                    <li><a href="#">공통코드관리</a></li>
                                    <li><a href="#">메뉴관리</a></li>
                                </ul>
                            </li>
                            <li class="menuItem">
                                <a href="#">업무관리</a>
                                <ul class="subMenu">
                                    <li><a href="#">공지사항</a></li>
                                    <li><a href="#">자료실</a></li>
                                    <li><a href="#">일일업무현황보고</a></li>
                                    <li><a href="#">분기실적보고서</a></li>
                                </ul>
                            </li>
                            <li class="menuItem">
                                <a href="#">운영관리</a>
                                <ul class="subMenu">
                                    <li><a href="#">체력인증센터 현황</a></li>
                                    <li><a href="#">체력인증센터 정보</a></li>
                                    <li><a href="#">팝업 관리</a></li>
                                    <li><a href="#">배너관리</a></li>
                                    <li><a href="#">관리자관리</a></li>
                                </ul>
                            </li>
                            <li class="menuItem">
                                <a href="#">예약관리</a>
                                <ul class="subMenu">
                                    <li><a href="#">일정관리</a></li>
                                    <li><a href="#">예약현황</a></li>
                                    <li><a href="#">예약등록</a></li>
                                    <li><a href="#">예약시스템설정</a></li>
                                </ul>
                            </li>
                            <li class="menuItem">
                                <a href="#">체력측정</a>
                                <ul class="subMenu">
                                    <li><a href="#">체력층정내역</a></li>
                                    <li><a href="#">체력측정입력</a></li>
                                    <li><a href="#">출장 체력측정입력</a></li>
                                </ul>
                            </li>
                            <li class="menuItem">
                                <a href="#">체력증진교실</a>
                                <ul class="subMenu">
                                    <li><a href="#">체력증진교실</a></li>
                                </ul>
                            </li>
                            <li class="menuItem">
                                <a href="#">회원관리</a>
                                <ul class="subMenu">
                                    <li><a href="#">회원현황</a></li>
                                    <li><a href="#">회원등록</a></li>
                                </ul>
                            </li>
                            <li class="menuItem">
                                <a href="#">게시물관리</a>
                                <ul class="subMenu">
                                    <li><a href="#">자주하는 질문</a></li>
                                    <li><a href="#">온라인 운동상담</a></li>
                                    <li><a href="#">홍보/보도자료</a></li>
                                    <li><a href="#">홍보영상관</a></li>
                                    <li><a href="#">포토갤러리</a></li>
                                    <li><a href="#">센터별 공지사항</a></li>
                                </ul>
                            </li>
                            <li class="menuItem">
                                <a href="#">통계</a>
                                <ul class="subMenu">
                                    <li><a href="#">체력측정통계</a></li>
                                    <li><a href="#">증진교실 운영현황</a></li>
                                    <li><a href="#">증진교실 측정집계</a></li>
                                    <li><a href="#">증진교실사전사후조회</a></li>
                                    <li><a href="#">예약현황 통계</a></li>
                                    <li><a href="#">통계관리</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
