<%- include('../../layout/mng/header.ejs', {
    url: "../../../"
}) %>

                    <!-- 컨텐츠 내용 -->
                    <div class="layoutContArea">
                        
                        <!-- h2 타이틀 -->
                        <div class="comH2Group">
                            <div class="alignL">
                                <h2>미디어게시판(동영상)_파일업로드 case</h2>
                            </div>
                            <div class="alignR">
                                <ul class="locaGroup">
                                    <li class="item">HOME</li>
                                    <li class="item">게시물관리</li>
                                    <li class="item">미디어게시판(파일업로드)</li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="cptTable">
                            <table class="tbView">
                                <colgroup>
                                    <col style="width:110px;">
                                    <col style="width:auto;">
                                </colgroup>
                                <caption></caption>
                                <tbody>
                                    <tr>
                                        <th class="left">제목<span class="required">*</span></th>
                                        <td class="left">
                                            <div class="frmGroup">
                                                <input type="text" class="iptText">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="left">구분<span class="required">*</span></th>
                                        <td class="left">
                                            <div class="frmGroup">
                                                <div class="frmChoBox"><input id="rdo001" type="radio" class="iptRdo" name="rdo001" checked><label for="rdo001" class="iptLbl">동영상</label></div>
                                                <div class="frmChoBox"><input id="rdo002" type="radio" class="iptRdo" name="rdo001"><label for="rdo002" class="iptLbl">이미지</label></div>
                                            </div>
                                            <div class="frmGroup">
                                                <div class="frmChoBox"><input id="rdo011" type="radio" class="iptRdo" name="rdo011"><label for="rdo011" class="iptLbl">유튜브 영상</label></div>
                                                <div class="frmChoBox"><input id="rdo012" type="radio" class="iptRdo" name="rdo011"><label for="rdo012" class="iptLbl">URL직접등록</label></div>
                                                <div class="frmChoBox"><input id="rdo013" type="radio" class="iptRdo" name="rdo011" checked><label for="rdo013" class="iptLbl">파일 업로드</label></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="left">상단고정<span class="required">*</span></th>
                                        <td class="left">
                                            <div class="frmGroup">
                                                <div class="frmChoBox"><input id="rdo101" type="radio" class="iptRdo" name="rdo101"><label for="rdo101" class="iptLbl">예</label></div>
                                                <div class="frmChoBox"><input id="rdo102" type="radio" class="iptRdo" name="rdo101"><label for="rdo102" class="iptLbl">아니오</label></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="left">작성자</th>
                                        <td class="left">
                                            관리자
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="left">노출 등록일<span class="required">*</span></th>
                                        <td class="left">
                                            <div class="frmGroup">
                                                <div class="tui-datepicker-input tui-datetime-input tui-has-focus frmLg">
                                                    <input type="text" id="datepicker-input03" aria-label="Date-Time">
                                                    <div id="datepicker-container03" style="margin-top: -1px;"></div>
                                                </div>
                                                <div class="textBox clar"> * 홈페이지에서 “등록일자”로 노출됩니다.</div>
                                            </div>
                                            <script>
                                                datePicker("datepicker-input03","datepicker-container03");
                                            </script>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="left">썸네일</th>
                                        <td class="left">
                                            <div class="frmGroup">
                                                <div class="fileBox">
                                                    <div class="fileBefore">
                                                        <label for="uploadBtn1" class="gridBtn dkbLine">파일선택</label>
                                                        <input type="file" id="uploadBtn1" class="uploadBtn">
                                                    </div>
                                                    <div class="fileAfter">
                                                        <div class="textBox"></div>
                                                        <button class="fileDel">삭제</button>
                                                    </div>
                                                </div>
                                                <div class="textBox clar"> * 이미지 파일형식(jpg, png)만 첨부 가능하며, 최대 ###MB까지 첨부 가능</div>
                                            </div>
                                            <div class="imageTray">
                                                <ul>
                                                    <li>
                                                        <div class="frame">
                                                            <img src="" alt=""><!--이미지 경로 기입하여 노출-->
                                                            <button type="button" class="imgDelBtn"></button><!--이미지 삭제 버튼-->
                                                        </div>
                                                        <p class="imgTit">첨부파일명.jpg</p><!--이미지 파일명과 확장자-->
                                                    </li>
                                                </ul>
                                            </div>

                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="left">대체 텍스트</th>
                                        <td class="left">
                                            <div class="frmGroup">
                                                <input type="text" class="iptText">
                                                <button type="button" class="gridBtn dkbLine">입력 가이드</button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="left">내용<span class="required">*</span></th>
                                        <td class="left">
                                            <textarea></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="left">첨부파일</th>
                                        <td class="left">
                                            <div class="frmGroup">
                                                <div class="fileBox">
                                                    <div class="fileBefore">
                                                        <label for="uploadBtn1" class="gridBtn dkbLine">파일선택</label>
                                                        <input type="file" id="uploadBtn1" class="uploadBtn">
                                                    </div>
                                                    <div class="fileAfter">
                                                        <div class="textBox"></div>
                                                        <button class="fileDel">삭제</button>
                                                    </div>
                                                </div>
                                                <div class="textBox clar"> * 동영상 파일형식(mp4, avi)만 첨부 가능하며, 최대 ###MB까지 첨부 가능</div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="left">태그</th>
                                        <td class="left">
                                            <div class="frmGroup">
                                                <input type="text" class="iptText" placeholder="태그는 쉼표로 구분해서 작성해주세요. Ex) 태그1, 태그2, 태그3">
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="cptGroupBtm alignR">
                            <div class="comSideOpt">
                                <button type="button" class="crudBtn red">취소</button>
                                <button type="button" class="crudBtn purple">저장</button>
                            </div>
                        </div>

                    </div>
                    <!-- //컨텐츠 내용 -->


<%- include('../../layout/mng/bottom.ejs', {
    url: "../../../"
}) %>