<%- include('../../layout/mng/header.ejs', {
    url: "../../../"
}) %>

                    <!-- 컨텐츠 내용 -->
                    <div class="layoutContArea">
                        
                        <!-- h2 타이틀 -->
                        <div class="comH2Group">
                            <div class="alignL">
                                <h2>미디어게시판(동영상)_URL등록 case</h2>
                            </div>
                            <div class="alignR">
                                <ul class="locaGroup">
                                    <li class="item">HOME</li>
                                    <li class="item">게시물관리</li>
                                    <li class="item">미디어게시판(동영상)</li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="cptTable">
                            <table class="tbView">
                                <colgroup>
                                    <col style="width:110px;">
                                    <col style="width:auto;">
                                </colgroup>
                                <caption></caption>
                                <tbody>
                                    <tr>
                                        <th class="left">제목</th>
                                        <td class="left">
                                            <div class="frmGroup">
                                                글 등록 시 작성한 제목 노출
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="left">구분</th>
                                        <td class="left">
                                            동영상/URL직접등록
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="left">상단고정</th>
                                        <td class="left">
                                            아니오
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="left">작성자</th>
                                        <td class="left">
                                            관리자
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="left">노출 등록일</th>
                                        <td class="left">
                                            2024-05-05
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="left">썸네일</th>
                                        <td class="left">
                                            <!-- <div class="frmGroup">
                                                <div class="fileBox">
                                                    <div class="fileAfter" style="display: block;">
                                                        <div class="textBox">첨부파일테스트.png</div>
                                                    </div>
                                                </div>
                                            </div> -->
                                            <div class="imageTray">
                                                <ul>
                                                    <li>
                                                        <div class="frame">
                                                            <img src="" alt=""><!--이미지 경로 기입하여 노출-->
                                                            <button type="button" class="imgDelBtn"></button><!--이미지 삭제 버튼-->
                                                        </div>
                                                        <p class="imgTit">첨부파일명.jpg</p><!--이미지 파일명과 확장자-->
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="left">대체 텍스트</th>
                                        <td class="left">
                                            대체 텍스트 문구입니다.
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="left">내용</th>
                                        <td class="left">
                                            글 등록 시 작성한 내용 노출
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="left">동영상 URL</th>
                                        <td class="left">
                                            www.youtube.com
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="left">xorm</th>
                                        <td class="left">
                                            태그1, 태그2, 태그3
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="cptTable">
                            <table class="tbView">
                                <colgroup>
                                    <col style="width:120px;">
                                    <col style="width:auto;">
                                    <col style="width:120px;">
                                    <col style="width:auto;">
                                </colgroup>
                                <caption></caption>
                                <tbody>
                                    <tr>
                                        <th class="left">등록일시</th>
                                        <td class="left">관리자 2024-05-05 10:24:15</td>
                                        <th class="left">수정일시</th>
                                        <td class="left">관리자 2024-05-06 10:24:15</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="cptGroupBtnCov">
                            <div class="cptGroupBtm alignL">
                                <div class="comSideOpt">
                                    <button type="button" class="crudBtn dkBlue">목록</button>
                                </div>
                            </div>
                            <div class="cptGroupBtm alignR">
                                <div class="comSideOpt">
                                    <button type="button" class="crudBtn red">삭제</button>
                                    <button type="button" class="crudBtn dkBlue">수정</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- //컨텐츠 내용 -->


<%- include('../../layout/mng/bottom.ejs', {
    url: "../../../"
}) %>