<%
var url = locals.url ? locals.url : '../../';
%>
<div class="cptSnav type02">
    <div class="snavArea">
        <div class="snavMenu">
            <div class="snavTitle">약관 및 정책관리</div>
            <ul class="menuList">
                <li class="menuItem on"> <!-- class : on : 1depth 메뉴 활성화 -->
                    <a href="#"><span>서비스 이용약관</span></a>
                </li>
                <li class="menuItem"> <!--2 depth 경우 dropDown 클래스 추가-->
                    <a href="#"><span>대출거래 표준약관</span></a>
                </li>
                <li class="menuItem dropDown">
                    <a href="#"><span>금융상품 약관 및 상품설명서</span></a>
                    <ul class="subMenu">
                        <li><a href="#"><span>test</span></a></li>
                        <li><a href="#"><span>test</span></a></li>
                        <li><a href="#"><span>test</span></a></li>
                        <li><a href="#"><span>test</span></a></li>
                    </ul>
                </li>
                <li class="menuItem">
                    <a href="#"><span>제3자제공현황 및 업무위탁현황</span></a>
                </li>
                <li class="menuItem dropDown">
                    <a href="#"><span>신용정보활용체제 및 고객권리안내</span></a>
                    <ul class="subMenu">
                        <li><a href="#"><span>test</span></a></li>
                        <li><a href="#"><span>test</span></a></li>
                        <li><a href="#"><span>test</span></a></li>
                        <li><a href="#"><span>test</span></a></li>
                    </ul>
                </li>
                <li class="menuItem">
                    <a href="#"><span>책임의 한계와 법적고지</span></a>
                </li>
                <li class="menuItem">
                    <a href="#"><span>채권추심업무처리절차</span></a>
                </li>
                <li class="menuItem">
                    <a href="#"><span>불법채권추심대응요령</span></a>
                </li>
                <li class="menuItem">
                    <a href="#"><span>소멸시효완성채권추심 관련안내</span></a>
                </li>
                <li class="menuItem">
                    <a href="#"><span>대출신청동의서</span></a>
                </li>
                <li class="menuItem">
                    <a href="#"><span>대출신청확인사항</span></a>
                </li>
            </ul>
            <div class="snavBtm">
                <!-- <button class="iconDownload">관리시스템 메뉴얼</button> -->
            </div>
        </div>
    </div>
</div>