<%- include('../../layout/mng/header.ejs', {
    url: "../../../"
}) %>

                    <!-- 컨텐츠 내용 -->
                    <div class="layoutContArea">
                        
                        <!-- h2 타이틀 -->
                        <div class="comH2Group">
                            <div class="alignL">
                                <h2>가이드 (Grid)</h2>
                            </div>
                            <div class="alignR">
                                <ul class="locaGroup">
                                    <li class="item">HOME</li>
                                    <li class="item">가이드</li>
                                    <li class="item">Grid</li>
                                </ul>
                            </div>
                        </div>

                    <style>
                    @font-face {
                        font-family: 'D2Coding';
                        src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
                        font-weight: normal;
                        font-style: normal;
                    }
                    .guideBox {margin-top:40px;}
                    .guideTitle {font-size:18px; font-weight:500;}
                    .guideCont {margin-top:10px;}
                    .gGroup {margin-top:20px;}
                    .gText {font-size:14px;}
                    .gView {padding:10px; border:1px solid #bbbbbb; background:#fff;}
                    </style>
                        <div class="cptPubGuide">
                            <div class="guideArea">



                                <div class="guideBox">
                                    <div class="guideTitle">Grid : 일반, 버튼</div>
                                    <div class="guideCont">
                                        <div class="gText">
                                            그리드 내부에 무엇이 들어갈 수 있는지를 정의합니다. 버튼은 그리드용으로 따로 되어 있습니다.<br/>
                                            *그리드 th, td에 사용하는 정렬 클래스<br/>
                                            left : 좌측정렬<br/>
                                            center : 가운데정렬<br/>
                                            right : 우측정렬
                                        </div>
                                        <div class="gGroup">
                                            <div class="gView"></div>
                                            <div class="gCode">
<!-- input -->
<pre><code class="xml" style="font-size:14px; letter-spacing:1.5px; font-family: 'D2Coding'"></code></pre>
<textarea class="codeGuide" style="display:none;">
    <div class="cptGrid">
        <table class="gridTb">
            <colgroup>
                <col style="width:40px;">
                <col style="width:8%;">
                <col style="width:17%;">
                <col style="width:13%;">
                <col style="width:auto;">
                <col style="width:13%;">
                <col style="width:400px;">
            </colgroup>
            <thead>
                <tr>
                    <th>
                        <div class="frmChoBox only">
                            <input id="chkAll101" type="checkbox" class="iptChk"><label for="chkAll101" class="iptLbl"></label>
                        </div>
                    </th>
                    <th>번호</th>
                    <th>상태</th>
                    <th>항목2</th>
                    <th>항목3</th>
                    <th>항목4</th>
                    <th>기능</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="frmChoBox only">
                            <input id="chk101" type="checkbox" class="iptChk"><label for="chk101" class="iptLbl"></label>
                        </div>
                    </td>
                    <td>1</td>
                    <td><span class="txtBlue">승인대기</span></td>
                    <td class="bold">홍길동</td>
                    <td class="left">예시 제목입니다. 최대 길이 확인하세요.</td>
                    <td>0000-00-00</td>
                    <td class="left">
                        <button class="gridBtn gLine">건강체력평가</button>
                        <button class="gridBtn gLine">상세내역</button>
                        <button class="gridBtn purple">참여등록</button>
                        <button class="gridBtn red">종료처리</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="frmChoBox only">
                            <input id="chk105" type="checkbox" class="iptChk"><label for="chk105" class="iptLbl"></label>
                        </div>
                    </td>
                    <td>5</td>
                    <td><span class="">승인대기</span></td>
                    <td class="bold">홍길동</td>
                    <td class="left">예시 제목입니다. 최대 길이 확인하세요.</td>
                    <td>0000-00-00</td>
                    <td class="left">
                        <button class="gridBtn dkBlue">PAR-Q</button>
                        <button class="gridBtn gLine">신청/동의서</button>
                        <button class="gridBtn purple">예약변경</button>
                        <button class="gridBtn red">예약취소</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="guideBox">
                                    <div class="guideTitle">Grid : input, readonly</div>
                                    <div class="guideCont">
                                        <div class="gText">
                                            그리드 내에서 수정 및 등록이 이루어 질 경우 내부 인풋 하나로 읽기, 쓰기가 표현될 수 있습니다.<br/>
                                            읽기 : &lt;input type="text" class="iptText" value="사용자명" readonly=""&gt;<br/>
                                            쓰기 : &lt;input type="text" class="iptText" value="사용자명"&gt;
                                        </div>
                                        <div class="gGroup">
                                            <div class="gView"></div>
                                            <div class="gCode">
<!-- input -->
<pre><code class="xml" style="font-size:14px; letter-spacing:1.5px; font-family: 'D2Coding'"></code></pre>
<textarea class="codeGuide" style="display:none;">
    <div class="cptGrid">
        <table class="gridTb">
            <colgroup>
                <col style="width:70px;">
                <col style="width:auto;">
                <col style="width:14%;">
                <col style="width:16%;">
                <col style="width:14%;">
                <col style="width:14%;">
                <col style="width:14%;">
            </colgroup>
            <thead>
                <tr>
                    <th>번호</th>
                    <th>사용자</th>
                    <th>승인IP</th>
                    <th>등록일/수정일</th>
                    <th>시작일</th>
                    <th>종료일</th>
                    <th>기능</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="center">10</td>
                    <td class="center">
                        <div class="frmGroup">
                            <input type="text" class="iptText" value="사용자명" readonly="">
                        </div>
                    </td>
                    <td class="center">
                        <div class="frmGroup">
                            <input type="text" class="iptText" value="123.456.78.9" readonly="">
                        </div>
                    </td>
                    <td class="center">
                        2024-05-05 / 2024-05-06
                    </td>
                    <td class="center">
                        <div class="frmGroup">
                            <input type="text" class="iptText" value="2024-05-05" readonly="">
                        </div>
                    </td>
                    <td class="center">
                        <div class="frmGroup">
                            <input type="text" class="iptText" value="2024-06-05" readonly="">
                        </div>
                    </td>
                    <td class="center">
                        <button class="gridBtn red">삭제</button>
                        <button class="gridBtn purple">수정</button>
                    </td>
                </tr>
                <tr>
                    <td class="center">9</td>
                    <td class="center">
                        <div class="frmGroup">
                            <input type="text" class="iptText" value="사용자명">
                        </div>
                    </td>
                    <td class="center">
                        <div class="frmGroup">
                            <input type="text" class="iptText" value="123.456.78.9">
                        </div>
                    </td>
                    <td class="center">
                        2024-05-05 / 2024-05-06
                    </td>
                    <td class="center">
                        <div class="frmGroup">
                            <input type="text" class="iptText" value="2024-05-05">
                        </div>
                    </td>
                    <td class="center">
                        <div class="frmGroup">
                            <input type="text" class="iptText" value="2024-06-05">
                        </div>
                    </td>
                    <td class="center">
                        <button class="gridBtn red">취소</button>
                        <button class="gridBtn purple">저장</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>







<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/languages/xml.min.js"></script>
<script>
    function escapeHtml(html) {
        return html
            .replace(/&/g, "&amp;")
            .replace(/</g, "&lt;")
            .replace(/>/g, "&gt;")
            .replace(/"/g, "&quot;")
            .replace(/'/g, "&#039;");
    }

    function run(){
        const codeGuides = document.querySelectorAll('.cptPubGuide .codeGuide');
        const codes = document.querySelectorAll('.cptPubGuide code.xml');
        const viewers = document.querySelectorAll('.cptPubGuide .gView');
        codes.forEach(function(code,idx){
            code.innerHTML = escapeHtml(codeGuides[idx].value);
        });
        viewers.forEach(function(viewer,idx){
            viewer.innerHTML = codeGuides[idx].value;
        });
        hljs.highlightAll();
    }
    window.onload = function(){
        run();
    }
</script>



                    </div>
                    <!-- //컨텐츠 내용 -->

<%- include('../../layout/mng/bottom.ejs', {
    url: "../../../"
}) %>