<%- include('../../layout/iwms/header.ejs', {
    theme: "iwms",
    url: "../../../"
}) %>

                    <!-- 컨텐츠 내용 -->
                    <div class="layoutContArea">
                        
                        <!-- h2 타이틀 -->
                        <div class="comH2Group">
                            <div class="alignL">
                                <h2>연락망</h2>
                            </div>
                            <div class="alignR">
                                <ul class="locaGroup">
                                    <li class="item">HOME</li>
                                    <li class="item">연락망</li>
                                </ul>
                            </div>
                        </div>

                        <div class="cptSearchArea">
                            <table>
                                <caption></caption>
                                <colgroup>
                                    <col style="width:150px;">
                                    <col style="width:auto;">
                                    <col style="width:150px;">
                                    <col style="width:auto;">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>키워드검색</th>
                                        <td>
                                            <div class="frmGroup">
                                                <input type="text" class="iptText" />
                                            </div>
                                        </td>
                                        <td colspan="2" class="right">
                                            <button class="btnSearch">검색</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="comSmTit type04">
                            <div class="alignL">
                                <div class="title"><span class="sqDot"></span>아이웍스인터렉티브</div>
                            </div>
                        </div>
                        
                        <div class="cptGrid">
                            <table class="gridTb">
                                <colgroup>
                                    <col width="120px">
                                    <col width="120px">
                                    <col width="120px">
                                    <col width="150px">
                                    <col width="200px">
                                    <col width="auto">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>이름</th>
                                        <th>부서</th>
                                        <th>직급</th>
                                        <th>사무실 전화번호</th>
                                        <th>이메일</th>
                                        <th>담당 홈페이지</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>김정기</td>
                                        <td>개발팀</td>
                                        <td>차장</td>
                                        <td>02-1234-1234</td>
                                        <td>kjg@iwi.co.kr</td>
                                        <td class="left">장애인체력100,한국생활안내,정보더하기</td>
                                    </tr>
                                    <tr>
										<td>이규호</td>
										<td>개발팀</td>
										<td>과장</td>
										<td>02-1234-1234</td>
										<td>ghlee@iwi.co.kr</td>
										<td class="left">장애인체력100</td>
									</tr>
                                    <tr>
										<td>김은서</td>
										<td>개발팀</td>
										<td>대리</td>
										<td>02-1234-1234</td>
										<td>eskim@iwi.co.kr</td>
										<td class="left">한국생활안내,정보더하기</td>
									</tr>
                                    <tr>
										<td>전사은</td>
										<td>개발팀</td>
										<td>주임</td>
										<td>02-1234-1234</td>
										<td>sejeon@iwi.co.kr</td>
										<td class="left">장애인체력100,한국생활안내,정보더하기</td>
									</tr>
                                    <tr>
										<td>송수빈</td>
										<td>개발팀</td>
										<td>주임</td>
										<td>02-1234-1234</td>
										<td>sbsong@iwi.co.kr</td>
										<td class="left">한국생활안내,정보더하기</td>
									</tr>
                                    <tr>
										<td>송민아</td>
										<td>디자인팀</td>
										<td>과장</td>
										<td>02-1234-1234</td>
										<td>mina@iwi.co.kr</td>
										<td class="left">장애인체력100</td>
									</tr>
                                    <tr>
										<td>고윤영</td>
										<td>디자인팀</td>
										<td>과장</td>
										<td>02-1234-1234</td>
										<td>kyy@iwi.co.kr</td>
										<td class="left">한국생활안내,정보더하기</td>
									</tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="comSmTit type04">
                            <div class="alignL">
                                <div class="title"><span class="sqDot"></span>대한장애인체육회</div>
                            </div>
                        </div>
                        
                        
                        <div class="cptGrid">
                            <table class="gridTb">
                                <colgroup>
                                    <col width="120px">
                                    <col width="120px">
                                    <col width="120px">
                                    <col width="150px">
                                    <col width="200px">
                                    <col width="auto">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>이름</th>
                                        <th>부서</th>
                                        <th>직급</th>
                                        <th>사무실 전화번호</th>
                                        <th>이메일</th>
                                        <th>담당 홈페이지</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
										<td>장애인체력100</td>
										<td>운영팀</td>
										<td>담당</td>
										<td>02-1234-1234</td>
										<td>nfa@nfa.nfa</td>
										<td class="left">장애인체력100</td>
									</tr>
                                    <tr>
										<td>전산담당자</td>
										<td>운영팀</td>
										<td>담당</td>
										<td></td>
										<td>123@123.com</td>
										<td class="left">장애인체력100,한국생활안내,정보더하기</td>
									</tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="comSmTit type04">
                            <div class="alignL">
                                <div class="title"><span class="sqDot"></span>한국건강가정진흥원</div>
                            </div>
                        </div>
                        
                        
                        <div class="cptGrid">
                            <table class="gridTb">
                                <colgroup>
                                    <col width="120px">
                                    <col width="120px">
                                    <col width="120px">
                                    <col width="150px">
                                    <col width="200px">
                                    <col width="auto">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>이름</th>
                                        <th>부서</th>
                                        <th>직급</th>
                                        <th>사무실 전화번호</th>
                                        <th>이메일</th>
                                        <th>담당 홈페이지</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
										<td>한가원</td>
										<td>운영팀</td>
										<td>담당</td>
										<td>02-1234-1234</td>
										<td>kihf@kihf.kihf</td>
										<td class="left">한국생활안내,정보더하기</td>
									</tr>
                                </tbody>
                            </table>
                        </div>



















                    </div>
                    <!-- //컨텐츠 내용 -->

<%- include('../../layout/iwms/bottom.ejs', {
    url: "../../../"
}) %>