<%- include('../../layout/type01/header.ejs', {
    url: "../../../"
}) %>


<!-- 컨텐츠 내용 -->
<div class="layoutContArea">
    
</div>
<!-- //컨텐츠 내용 -->


<!-- 팝업 영역 -->
<div id="sample01" class="modPopup md on"> <!-- class - md : 중간 팝업, on : 팝업오픈 -->
    <div class="popupDim">딤영역</div>
    <div class="popupArea"> <!-- style - 너비값(width), 높이값(height) : 팝업 너비 및 높이 지정 -->
        <div class="popupInMotion">
            <div class="popupContainer">
                <div class="popupContArea">
                    <button type="button" class="btnPopClose" onclick="closePopup('sample01');">닫기</button>
                    <div class="popTitle">접속이력 조회</div>
                    <div class="popCont">
                        
                        <!-- 팝업 컨텐츠 영역 -->
                        <!-- 검색조건 -->
                        <div class="cptSearchArea">
                            <table>
                                <caption></caption>
                                <colgroup>
                                    <col style="width:150px;" />
                                    <col style="width:auto;" />
                                    <col style="width:150px;" />
                                    <col style="width:auto;" />
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>접속일자</th>
                                        <td>
                                            <div class="iptDate"><input type="text" class="iptText" id="datepicker1"></div>
                                        </td>
                                        <td colspan="2" class="right">
                                            <button type="button" class="btnSearch">검색</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- 그리드/테이블 상단 -->
                        <div class="cptGroupTop" style="margin-top:20px;"> <!--20230125 스타일 추가(예외로 해당 영역 상단 여백 20으로 변경)-->
                            <div class="alignL">
                                <div class="unit"><span class="text">조회결과 (총 <span class="total">100</span>건)</span></div>
                            </div>
                        </div>

                        <!-- 테이블 -->
                        <div class="cptTable" >
                            <table class="tbView">
                                <colgroup>
                                    <col style="width:12%;" />
                                    <col style="width:12%;" />
                                    <col style="width:10%;" />
                                    <col style="width:auto;" />
                                    <col style="width:17%;" />
                                    <col style="width:12%;" />
                                    <col style="width:10%;" />
                                </colgroup>
                                <caption></caption>
                                <thead>
                                    <tr>
                                        <th>접속일자</th>
                                        <th>아이디</th>
                                        <th>사용자명</th>
                                        <th>접속URL</th>
                                        <th>접속IP</th>
                                        <th>메뉴명</th>
                                        <th>수행업무</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="center">2022-00-00</td>
                                        <td class="center">~~~~</td>
                                        <td class="center">김태형</td>
                                        <td class="center">~~~~~</td>
                                        <td class="center">000.000.000.000</td>
                                        <td class="center">~~~</td>
                                        <td class="center">조회</td>
                                    </tr>
                                    <tr>
                                        <td class="center">2022-00-00</td>
                                        <td class="center">~~~~</td>
                                        <td class="center">김태형</td>
                                        <td class="center">~~~~~</td>
                                        <td class="center">000.000.000.000</td>
                                        <td class="center">~~~</td>
                                        <td class="center">수정</td>
                                    </tr>
                                    <tr>
                                        <td class="center">2022-00-00</td>
                                        <td class="center">~~~~</td>
                                        <td class="center">김태형</td>
                                        <td class="center">~~~~~</td>
                                        <td class="center">000.000.000.000</td>
                                        <td class="center">~~~</td>
                                        <td class="center">조회</td>
                                    </tr>
                                    <tr>
                                        <td class="center">2022-00-00</td>
                                        <td class="center">~~~~</td>
                                        <td class="center">김태형</td>
                                        <td class="center">~~~~~</td>
                                        <td class="center">000.000.000.000</td>
                                        <td class="center">~~~</td>
                                        <td class="center">수정</td>
                                    </tr>
                                    <tr>
                                        <td class="center">2022-00-00</td>
                                        <td class="center">~~~~</td>
                                        <td class="center">김태형</td>
                                        <td class="center">~~~~~</td>
                                        <td class="center">000.000.000.000</td>
                                        <td class="center">~~~</td>
                                        <td class="center">조회</td>
                                    </tr>
                                    <tr>
                                        <td class="center">2022-00-00</td>
                                        <td class="center">~~~~</td>
                                        <td class="center">김태형</td>
                                        <td class="center">~~~~~</td>
                                        <td class="center">000.000.000.000</td>
                                        <td class="center">~~~</td>
                                        <td class="center">수정</td>
                                    </tr>
                                    <tr>
                                        <td class="center">2022-00-00</td>
                                        <td class="center">~~~~</td>
                                        <td class="center">김태형</td>
                                        <td class="center">~~~~~</td>
                                        <td class="center">000.000.000.000</td>
                                        <td class="center">~~~</td>
                                        <td class="center">조회</td>
                                    </tr>
                                    <tr>
                                        <td class="center">2022-00-00</td>
                                        <td class="center">~~~~</td>
                                        <td class="center">김태형</td>
                                        <td class="center">~~~~~</td>
                                        <td class="center">000.000.000.000</td>
                                        <td class="center">~~~</td>
                                        <td class="center">수정</td>
                                    </tr>
                                    <tr>
                                        <td class="center">2022-00-00</td>
                                        <td class="center">~~~~</td>
                                        <td class="center">김태형</td>
                                        <td class="center">~~~~~</td>
                                        <td class="center">000.000.000.000</td>
                                        <td class="center">~~~</td>
                                        <td class="center">조회</td>
                                    </tr>
                                    <tr>
                                        <td class="center">2022-00-00</td>
                                        <td class="center">~~~~</td>
                                        <td class="center">김태형</td>
                                        <td class="center">~~~~~</td>
                                        <td class="center">000.000.000.000</td>
                                        <td class="center">~~~</td>
                                        <td class="center">수정</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                        <!-- 페이징 -->
                        <div class="comPaging">
                            <a class="start" href="#"></a>
                            <a class="prev" href="#"></a>
                            <ul class="numList">
                                <li><a href="#">1</a></li>
                                <li class="on"><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                            </ul>
                            <a class="next" href="#"></a>
                            <a class="end" href="#"></a>
                        </div>
                        <!-- //팝업 컨텐츠 영역 -->

                    </div>
                    <!-- 팝업 버튼 영역 -->
                    <div class="popBtm">
                        <div class="alignR">
                            <button type="button" class="btn red" onclick="openAlert('splAlt01');">삭제</button>
                            <button type="button" class="btn gLine">취소</button>
                            <button type="button" class="btn dkBlue">저장</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

                        
<div id="splAlt01" class="modAlert">
    <div class="alertArea">
        <div class="alertMsg">공단사용자 계정을 삭제 하시겠습니까?</div>
        <div class="alertBtm">
            <button type="button" class="btn gLine" onclick="closeAlert('splAlt01');">취소</button>
            <button type="button" class="btn dkBlue">확인</button>
        </div>
    </div>
</div>
<!-- //팝업 영역 -->


<%- include('../../layout/type01/bottom.ejs', {
    url: "../../../"
}) %>