<%- include('../../layout/type01_baro/header.ejs', {
    url: "../../../"
}) %>


<!-- 컨텐츠 내용 -->
<div class="layoutContArea">
    <!-- h2 타이틀 -->
    <div class="comH2Group">
        <div class="alignL">
            <h2>신용대출</h2>
        </div>
        <div class="alignR">
            <ul class="locaGroup">
                <li class="item">HOME</li>
                <li class="item">Depth 01</li>
                <li class="item">Depth 02</li>
                <li class="item">Depth 03</li><!--필요시-->
            </ul>
        </div>
    </div>
    <div class="cptBoxCont">
        <div class="loanBox">
            <div class="titArea">
                <p class="tit">확인사항 1</p>
                <div class="stat">
                    <!--수정경우-->
                    <span class="instGrp">
                        <span class="instTit">사이트 반영 :</span>
                        <div class="frmGroup">
                            <div class="frmChoBox"><input id="rdo101" type="radio" class="iptRdo" name="rdo101" checked><label for="rdo101" class="iptLbl" >적용</label></div>
                            <div class="frmChoBox"><input id="rdo102" type="radio" class="iptRdo" name="rdo101"><label for="rdo102" class="iptLbl">미적용</label></div>
                        </div>
                    </span>
                    <!--//수정경우-->
                </div>
            </div>
            <div class="innerBox">
                본인은 금융회사 직원을 사칭한 전화나 문자를 받아 대출을 진행하지 않음을 확인합니다.
            </div>
        </div>
        <div class="loanBox">
            <div class="titArea">
                <p class="tit">확인사항 2</p>
                <div class="stat">
                    <!--수정경우-->
                    <span class="instGrp">
                        <span class="instTit">사이트 반영 :</span>
                        <div class="frmGroup">
                            <div class="frmChoBox"><input id="rdo103" type="radio" class="iptRdo" name="rdo102" checked><label for="rdo103" class="iptLbl" >적용</label></div>
                            <div class="frmChoBox"><input id="rdo104" type="radio" class="iptRdo" name="rdo102"><label for="rdo104" class="iptLbl">미적용</label></div>
                        </div>
                    </span>
                    <!--//수정경우-->
                </div>
            </div>
            <div class="innerBox">
                본인은 햇살론 등 저금리의 서민지원대출로 바꿔준다는 제안을 받지 않음을 확인합니다.
            </div>
        </div>
        <div class="loanBox">
            <div class="titArea">
                <p class="tit">확인사항 3</p>
                <div class="stat">
                    <!--수정경우-->
                    <span class="instGrp">
                        <span class="instTit">사이트 반영 :</span>
                        <div class="frmGroup">
                            <div class="frmChoBox"><input id="rdo105" type="radio" class="iptRdo" name="rdo103" checked><label for="rdo105" class="iptLbl" >적용</label></div>
                            <div class="frmChoBox"><input id="rdo106" type="radio" class="iptRdo" name="rdo103"><label for="rdo106" class="iptLbl">미적용</label></div>
                        </div>
                    </span>
                    <!--//수정경우-->
                </div>
            </div>
            <div class="innerBox">
                본인은 대출을 받은 후 바로 상환하면 신용등급 또는 개인신용평점이 올라 저금리로 대출이 가능하다는 오안내를 받지 않음을 확인합니다.
            </div>
        </div>
        <div class="loanBox">
            <div class="titArea">
                <p class="tit">확인사항 4</p>
                <div class="stat">
                    <!--수정경우-->
                    <span class="instGrp">
                        <span class="instTit">사이트 반영 :</span>
                        <div class="frmGroup">
                            <div class="frmChoBox"><input id="rdo107" type="radio" class="iptRdo" name="rdo104" checked><label for="rdo107" class="iptLbl" >적용</label></div>
                            <div class="frmChoBox"><input id="rdo108" type="radio" class="iptRdo" name="rdo104"><label for="rdo108" class="iptLbl">미적용</label></div>
                        </div>
                    </span>
                    <!--//수정경우-->
                </div>
            </div>
            <div class="innerBox">
                바로크레디트대부와 계약되어 있는 대부중개업자는 중개수수료를 고객으로부터 받아서는 안됩니다.<br>(대부업법 제11조의2) 만약 이 항목에 "예"를 체크하고 대출이 일어난 경우 금융감독원의 "불법 중개수수료 신고코너"를 통해 지급한 중개수수료 반환 요청을 하는 것에 제한을 받을 수 있습니다.<br>본인은 불법 중개 수수료에 관한 사항을 충분히 이해하고 동의하였으며, 등록된 대부중개업체를 통해 대출을 신청하고, <br>대부중개업체에게 중개 수수료를 지급한 사실이나 지급할 계획이 없음을 확인합니다.
            </div>
        </div>
        <div class="loanBox last"><!--마지막항목 class="last" 추가 -->
            <div class="titArea">
                <p class="tit">확인사항 5</p>
                <div class="stat">
                    <!--수정경우-->
                    <span class="instGrp">
                        <span class="instTit">사이트 반영 :</span>
                        <div class="frmGroup">
                            <div class="frmChoBox"><input id="rdo109" type="radio" class="iptRdo" name="rdo105"><label for="rdo109" class="iptLbl">적용</label></div>
                            <div class="frmChoBox"><input id="rdo110" type="radio" class="iptRdo" name="rdo105" checked><label for="rdo110" class="iptLbl" >미적용</label></div>
                        </div>
                    </span>
                    <!--//수정경우-->
                </div>
            </div>
            <div class="innerBox">
                「특정금융거래정보의 보고 및 이용 등에 관한 법률」 제5조의2에 따라 신원확인(주민등록증 및 운전면허증 사본) 등의 정보 등을 제공하셔야 하며, 이를 거부하거나 검증이 불가능 한 경우, 금융거래가 제한될 수 있음을 확인합니다.
            </div>
        </div>
        <div class="ctaArea instPt">
            <button type="button" class="delete">삭제</button>
            <button type="button" class="cancel">취소</button>
            <button type="button" class="save">저장</button>
        </div>
    </div>

    <!-- 그리드 -->
    <div class="cptGrid">
        <table class="gridTb">
            <colgroup>
                <col style="width:auto;">
                <col style="width:25%;">
                <col style="width:25%;">
            </colgroup>
            <thead>
                <tr>
                    <th>제목</th>
                    <th>수정일시</th>
                    <th>작성자</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="left">
                        <span class="listTit hlgt">개인정보처리방침</span><!--202302028 제목 관련 타임리프 태그(th:text)는 해당 span 에 넣어주세요-->
                        <!-- <span class="newBtn"><img src="/common/images/common/icon_new.png"/></span> -->
                    </td>
                    <td>YYYY-MM-DD (hh:mm:ss)</td>
                    <td>홍길동</td>
                </tr>
                <tr>
                    <td class="left">
                        <span class="listTit">개인정보처리방침</span><!--202302028 제목 관련 타임리프 태그(th:text)는 해당 span 에 넣어주세요-->
                        <!-- <span class="newBtn"><img src="/common/images/common/icon_new.png"/></span> -->
                    </td>
                    <td>YYYY-MM-DD (hh:mm:ss)</td>
                    <td>홍길동</td>
                </tr>
                <tr>
                    <td class="left">
                        <span class="listTit">개인정보처리방침</span><!--202302028 제목 관련 타임리프 태그(th:text)는 해당 span 에 넣어주세요-->
                        <!-- <span class="newBtn"><img src="/common/images/common/icon_new.png"/></span> -->
                    </td>
                    <td>YYYY-MM-DD (hh:mm:ss)</td>
                    <td>홍길동</td>
                </tr>
                <tr>
                    <td class="left">
                        <span class="listTit">개인정보처리방침</span><!--202302028 제목 관련 타임리프 태그(th:text)는 해당 span 에 넣어주세요-->
                        <!-- <span class="newBtn"><img src="/common/images/common/icon_new.png"/></span> -->
                    </td>
                    <td>YYYY-MM-DD (hh:mm:ss)</td>
                    <td>홍길동</td>
                </tr>
                <tr>
                    <td class="left">
                        <span class="listTit">개인정보처리방침</span><!--202302028 제목 관련 타임리프 태그(th:text)는 해당 span 에 넣어주세요-->
                        <!-- <span class="newBtn"><img src="/common/images/common/icon_new.png"/></span> -->
                    </td>
                    <td>YYYY-MM-DD (hh:mm:ss)</td>
                    <td>홍길동</td>
                </tr>
                <tr>
                    <td class="left">
                        <span class="listTit">개인정보처리방침</span><!--202302028 제목 관련 타임리프 태그(th:text)는 해당 span 에 넣어주세요-->
                        <!-- <span class="newBtn"><img src="/common/images/common/icon_new.png"/></span> -->
                    </td>
                    <td>YYYY-MM-DD (hh:mm:ss)</td>
                    <td>홍길동</td>
                </tr>
                <tr>
                    <td class="left">
                        <span class="listTit">개인정보처리방침</span><!--202302028 제목 관련 타임리프 태그(th:text)는 해당 span 에 넣어주세요-->
                        <!-- <span class="newBtn"><img src="/common/images/common/icon_new.png"/></span> -->
                    </td>
                    <td>YYYY-MM-DD (hh:mm:ss)</td>
                    <td>홍길동</td>
                </tr>
                <tr>
                    <td class="left">
                        <span class="listTit">개인정보처리방침</span><!--202302028 제목 관련 타임리프 태그(th:text)는 해당 span 에 넣어주세요-->
                        <!-- <span class="newBtn"><img src="/common/images/common/icon_new.png"/></span> -->
                    </td>
                    <td>YYYY-MM-DD (hh:mm:ss)</td>
                    <td>홍길동</td>
                </tr>
                <tr>
                    <td class="left">
                        <span class="listTit">개인정보처리방침</span><!--202302028 제목 관련 타임리프 태그(th:text)는 해당 span 에 넣어주세요-->
                        <!-- <span class="newBtn"><img src="/common/images/common/icon_new.png"/></span> -->
                    </td>
                    <td>YYYY-MM-DD (hh:mm:ss)</td>
                    <td>홍길동</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- //그리드 -->
    
    <!-- 페이징 -->
    <div class="comPaging">
        <a class="start" href="#"></a>
        <a class="prev" href="#"></a>
        <ul class="numList">
            <li><a href="#">1</a></li>
            <li class="on"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
            <li><a href="#">10</a></li>
        </ul>
        <a class="next" href="#"></a>
        <a class="end" href="#"></a>
    </div>

</div>
<!-- //컨텐츠 내용 -->

<%- include('../../layout/type01_baro/bottom.ejs', {
    url: "../../../"
}) %>