<%- include('../../layout/type01_baro/header.ejs', {
    url: "../../../"
}) %>


<!-- 컨텐츠 내용 -->
<div class="layoutContArea">
    <!-- h2 타이틀 -->
    <div class="comH2Group">
        <div class="alignL">
            <h2>개인정보처리방침</h2>
        </div>
    </div>
    <div class="cptBoxCont">
        <div class="innerBox">
            (주)바로크레디트대부(이하 '회사')는 고객의 개인정보를 보호하기 위해 「신용정보의 이용 및 보호에 관한 법률」, 「개인정보보호법」,「특정 금융거래정보의 보고 및 이용 등에 관한 법률」 등 준수하여야 할 관련 법규상의 개인정보보호 규정을 준수하고 있으며, 고객님의 중요한 개인정보를 안전하게 관리하고 적정하게 사용하기 위하여 개인정보보호법에 의거하여 다음과 같이 개인정보의 처리 방침을 두고 있습니다.
            회사는 본 방침을 통하여 고객님께서 제공하시는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며, 개인정보 보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다.<br>
            또한, 회사는 본 방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다.<br>
            본 방침의 '정보주체'는 처리되는 정보에 의하여 알아볼 수 있는 사람으로서 그 정보의 주체가 되는 사람을 말합니다. '고객'은 '정보주체'들 당사가 제공하는 서비스를 이용하는 자 (이용하려는 자 포함)를 의미합니다.
            <br><br>
            제 1 조 (개인정보의 수집 및 이용목적)<br>
            회사는 개인정보를 다음의 목적을 위해 처리합니다. 처리한 개인정보는 다음의 목적 이외의 용도로는 사용되지 않으며 이용 목적이 변경될 시에는 사전 동의를 구할 예정입니다.<br>
            ① 대출계약 및 이행 등<br>
            - 대출계약의 체결여부 판단을 위한 대출심사<br>
            - 대출계약의 체결, 유지, 관리, 상담, 이행, 대출금 지급 및 관리 등<br>
            - 계약서, 청구서 발송<br>
            ② 고객관리<br>
            <br><br>
            (주)바로크레디트대부(이하 '회사')는 고객의 개인정보를 보호하기 위해 「신용정보의 이용 및 보호에 관한 법률」, 「개인정보보호법」,「특정 금융거래정보의 보고 및 이용 등에 관한 법률」 등 준수하여야 할 관련 법규상의 개인정보보호 규정을 준수하고 있으며, 고객님의 중요한 개인정보를 안전하게 관리하고 적정하게 사용하기 위하여 개인정보보호법에 의거하여 다음과 같이 개인정보의 처리 방침을 두고 있습니다.
            회사는 본 방침을 통하여 고객님께서 제공하시는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며, 개인정보 보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다.
            또한, 회사는 본 방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다.
            본 방침의 '정보주체'는 처리되는 정보에 의하여 알아볼 수 있는 사람으로서 그 정보의 주체가 되는 사람을 말합니다. '고객'은 '정보주체'들 당사가 제공하는 서비스를 이용하는 자 (이용하려는 자 포함)를 의미합니다.
            <br><br>
            제 1 조 (개인정보의 수집 및 이용목적)<br>
            회사는 개인정보를 다음의 목적을 위해 처리합니다. 처리한 개인정보는 다음의 목적 이외의 용도로는 사용되지 않으며 이용 목적이 변경될 시에는 사전 동의를 구할 예정입니다.<br>
            ① 대출계약 및 이행 등<br>
            - 대출계약의 체결여부 판단을 위한 대출심사<br>
            - 대출계약의 체결, 유지, 관리, 상담, 이행, 대출금 지급 및 관리 등<br>
            - 계약서, 청구서 발송<br>
            ② 고객관리<br>
        </div>
        <div class="ctaArea">
            <button type="button" class="insert">수정</button>
        </div>
        <div class="ctaArea instPt">
            <button type="button" class="cancel">취소</button>
            <button type="button" class="tempsave">임시저장</button>
            <button type="button" class="save" onclick="openPopup('sample03')">저장</button>
        </div>
    </div>

    <!-- 그리드 -->
    <div class="cptGrid">
        <table class="gridTb">
            <colgroup>
                <col style="width:auto;">
                <col style="width:15%;">
                <col style="width:15%;">
                <col style="width:15%;">
                <col style="width:15%;">
            </colgroup>
            <thead>
                <tr>
                    <th>제목</th>
                    <th>상태</th>
                    <th>시행일자</th>
                    <th>수정일시</th>
                    <th>작성자</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="left">
                        <span class="listTit hlgt">개인정보처리방침</span><!--202302028 제목 관련 타임리프 태그(th:text)는 해당 span 에 넣어주세요-->
                        <!-- <span class="newBtn"><img src="/common/images/common/icon_new.png"/></span> -->
                    </td>
                    <td>임시저장</td>
                    <td>YYYY-MM-DD</td>
                    <td>YYYY-MM-DD (hh:mm:ss)</td>
                    <td>홍길동</td>
                </tr>
                <tr>
                    <td class="left">
                        <span class="listTit">개인정보처리방침</span><!--202302028 제목 관련 타임리프 태그(th:text)는 해당 span 에 넣어주세요-->
                        <!-- <span class="newBtn"><img src="/common/images/common/icon_new.png"/></span> -->
                    </td>
                    <td>임시저장</td>
                    <td>YYYY-MM-DD</td>
                    <td>YYYY-MM-DD (hh:mm:ss)</td>
                    <td>홍길동</td>
                </tr>
                <tr>
                    <td class="left">
                        <span class="listTit">개인정보처리방침</span><!--202302028 제목 관련 타임리프 태그(th:text)는 해당 span 에 넣어주세요-->
                        <!-- <span class="newBtn"><img src="/common/images/common/icon_new.png"/></span> -->
                    </td>
                    <td>임시저장</td>
                    <td>YYYY-MM-DD</td>
                    <td>YYYY-MM-DD (hh:mm:ss)</td>
                    <td>홍길동</td>
                </tr>
                <tr>
                    <td class="left">
                        <span class="listTit">개인정보처리방침</span><!--202302028 제목 관련 타임리프 태그(th:text)는 해당 span 에 넣어주세요-->
                        <!-- <span class="newBtn"><img src="/common/images/common/icon_new.png"/></span> -->
                    </td>
                    <td>임시저장</td>
                    <td>YYYY-MM-DD</td>
                    <td>YYYY-MM-DD (hh:mm:ss)</td>
                    <td>홍길동</td>
                </tr>
                <tr>
                    <td class="left">
                        <span class="listTit">개인정보처리방침</span><!--202302028 제목 관련 타임리프 태그(th:text)는 해당 span 에 넣어주세요-->
                        <!-- <span class="newBtn"><img src="/common/images/common/icon_new.png"/></span> -->
                    </td>
                    <td>임시저장</td>
                    <td>YYYY-MM-DD</td>
                    <td>YYYY-MM-DD (hh:mm:ss)</td>
                    <td>홍길동</td>
                </tr>
                <tr>
                    <td class="left">
                        <span class="listTit">개인정보처리방침</span><!--202302028 제목 관련 타임리프 태그(th:text)는 해당 span 에 넣어주세요-->
                        <!-- <span class="newBtn"><img src="/common/images/common/icon_new.png"/></span> -->
                    </td>
                    <td>임시저장</td>
                    <td>YYYY-MM-DD</td>
                    <td>YYYY-MM-DD (hh:mm:ss)</td>
                    <td>홍길동</td>
                </tr>
                <tr>
                    <td class="left">
                        <span class="listTit">개인정보처리방침</span><!--202302028 제목 관련 타임리프 태그(th:text)는 해당 span 에 넣어주세요-->
                        <!-- <span class="newBtn"><img src="/common/images/common/icon_new.png"/></span> -->
                    </td>
                    <td>임시저장</td>
                    <td>YYYY-MM-DD</td>
                    <td>YYYY-MM-DD (hh:mm:ss)</td>
                    <td>홍길동</td>
                </tr>
                <tr>
                    <td class="left">
                        <span class="listTit">개인정보처리방침</span><!--202302028 제목 관련 타임리프 태그(th:text)는 해당 span 에 넣어주세요-->
                        <!-- <span class="newBtn"><img src="/common/images/common/icon_new.png"/></span> -->
                    </td>
                    <td>임시저장</td>
                    <td>YYYY-MM-DD</td>
                    <td>YYYY-MM-DD (hh:mm:ss)</td>
                    <td>홍길동</td>
                </tr>
                <tr>
                    <td class="left">
                        <span class="listTit">개인정보처리방침</span><!--202302028 제목 관련 타임리프 태그(th:text)는 해당 span 에 넣어주세요-->
                        <!-- <span class="newBtn"><img src="/common/images/common/icon_new.png"/></span> -->
                    </td>
                    <td>임시저장</td>
                    <td>YYYY-MM-DD</td>
                    <td>YYYY-MM-DD (hh:mm:ss)</td>
                    <td>홍길동</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- //그리드 -->
    <div class="cptGroupBtm alignR">
        <div class="comSideOpt">
            <button class="srhBtn dkBlue">신규생성</button>
        </div>
    </div>
    <!-- 페이징 -->
    <div class="comPaging">
        <a class="start" href="#"></a>
        <a class="prev" href="#"></a>
        <ul class="numList">
            <li><a href="#">1</a></li>
            <li class="on"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
            <li><a href="#">10</a></li>
        </ul>
        <a class="next" href="#"></a>
        <a class="end" href="#"></a>
    </div>

</div>
<!-- //컨텐츠 내용 -->
<!-- 팝업 영역 -->
<div id="sample03" class="modPopup sm"> <!-- class - on : 팝업오픈 -->
    <div class="popupDim">딤영역</div>
    <div class="popupArea"> <!-- style - 너비값(width), 높이값(height) : 팝업 너비 및 높이 지정 -->
        <div class="popupInMotion">
            <div class="popupContainer">
                <div class="popupContArea">
                    <button class="btnPopClose" onclick="closePopup('sample03');">닫기</button>
                    <div class="popTitle">시행일자 설정</div>
                    <div class="popCont">
                        
                        <!-- 팝업 컨텐츠 영역 -->
                        <div class="cptTable">
                            <table class="tbView">
                                <colgroup>
                                    <col style="width:110px;">
                                    <col style="width:auto;">
                                </colgroup>
                                <caption></caption>
                                <tbody>
                                    <tr>
                                        <th class="left">제목<span class="required">*</span></th>
                                        <td class="left"><input type="text" class="iptText"></td>
                                    </tr>
                                    <tr>
                                        <th class="left">시행일자<span class="required">*</span></th>
                                        <td class="left">
                                            <div class="frmGroup">
                                                <div class="iptDate frmLg"><input type="text" class="iptText" id="datepicker2"></div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- //팝업 컨텐츠 영역 -->

                    </div>
                    <div class="popBtm">
                        <button class="btn gLine">취소</button>
                        <button class="btn dkBlue">확인</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //팝업 영역 -->

<%- include('../../layout/type01_baro/bottom.ejs', {
    url: "../../../"
}) %>