<%- include('../../layout/type01/header.ejs', {
    url: "../../../"
}) %>


<!-- 컨텐츠 내용 -->
<div class="layoutContArea">
    <!-- h2 타이틀 -->
    <div class="comH2Group">
        <div class="alignL">
            <h2>체력센터 채용공고</h2>
        </div>
        <div class="alignR">
            <ul class="locaGroup">
                <li class="item">HOME</li>
                <li class="item">홈페이지관리</li>
                <li class="item">체력센터 채용공고</li>
            </ul>
        </div>
    </div>
     <!-- 검색조건 -->
    <div class="cptSearchArea">
        <table>
            <caption></caption>
            <colgroup>
                <col style="width:150px;" />
                <col style="width:auto;" />
                <col style="width:150px;" />
                <col style="width:auto;" />
            </colgroup>
            <tbody>
                <tr>
                    <th>등록기간</th>
                    <td>
                        <div class="frmGroup">
                            <div class="iptDate"><input type="text" class="iptText" id="datepicker1"><button class="dateBtn">날짜검색</button></div>
                            <div class="textBox deco">~</div>
                            <div class="iptDate"><input type="text" class="iptText" id="datepicker2"><button class="dateBtn">날짜검색</button></div>
                            <button class="srhBtn dkbLine">당해년도</button>
                        </div>
                    </td>
                    <th>구분</th>
                    <td>
                        <div class="frmGroup">
                            <select name="" id="" class="iptSlt frmSm">
                                <option value="">시도 전체</option>
                                <option value=""></option>
                            </select>
                            <select name="" id="" class="iptSlt">
                                <option value="">센터 전체</option>
                                <option value=""></option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>상태구분</th>
                    <td>
                        <div class="frmChoBox"><input id="rdo001" type="radio" class="iptRdo" name="rdo001"><label for="rdo001" class="iptLbl">전체</label></div>
                        <div class="frmChoBox"><input id="rdo002" type="radio" class="iptRdo" name="rdo001"><label for="rdo002" class="iptLbl">접수중</label></div>
                        <div class="frmChoBox"><input id="rdo003" type="radio" class="iptRdo" name="rdo001"><label for="rdo003" class="iptLbl">접수마감</label></div>
                    </td>
                    <th>키워드</th>
                    <td>
                        <div class="frmGroup">
                            <select name="" id="" class="iptSlt frmSm">
                                <option value="">제목</option>
                                <option value=""></option>
                            </select>
                            <input type="text" class="iptText">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="right">
                        <button class="btnSearch">검색</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- 그리드/테이블 상단 -->
    <div class="cptGroupTop">
        <div class="alignL">
            <div class="unit"><span class="text">조회결과 (총 <span class="total">100</span>건)</span></div>
        </div>
        <div class="alignR">
            <div class="comSideOpt">
                <ul class="opList">
                    <li class="item">
                        <button class="viewBtn on">10건</button>
                        <button class="viewBtn">20건</button>
                        <button class="viewBtn">50건</button>
                        <button class="viewBtn">100건</button>
                    </li>
                    <li class="item">
                        <button class="srhBtn bLine">엑셀다운로드</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- 그리드 -->
    <div class="cptGrid">
        <table class="gridTb">
            <colgroup>
                <col style="width:40px;">
                <col style="width:8%;">
                <col style="width:10%;">
                <col style="width:auto;">
                <col style="width:250px;">
                <col style="width:75px;">
                <col style="width:10%;">
                <col style="width:10%;">
                <col style="width:7%;">
                <col style="width:100px;">
            </colgroup>
            <thead>
                <tr>
                    <th>번호</th>
                    <th>지역</th>
                    <th>체력인증센터</th>
                    <th>제목</th>
                    <th>모집기간</th>
                    <th>진행상태</th>
                    <th>등록자</th>
                    <th>등록일자</th>
                    <th>조회</th>
                    <th>기능</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>서울</td>
                    <td>KSPO송파</td>
                    <td class="left">
                        <span class="listTit">예시 제목입니다. 최대 길이 확인하세요.</span><!--202302028 제목 관련 타임리프 태그(th:text)는 해당 span 에 넣어주세요-->
                        <span class="newBtn"><img src="/common/images/common/icon_new.png"/></span>
                    </td>
                    <td class="center">
                        0000-00-00~0000-00-00
                    </td>
                    <td>접수마감</td>
                    <td>홍길동</td>
                    <td>0000-00-00</td>
                    <td>000</td>
                    <td class="center">
                        <button class="gridBtn gLine">상세내역</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- //그리드 -->
    <!-- 그리드/테이블 하단 버튼 -->
    <div class="cptGroupBtm alignR">
        <div class="comSideOpt">
            <button class="srhBtn dkBlue">등록</button>
        </div>
    </div>
    <!-- 페이징 -->
    <div class="comPaging">
        <a class="start" href="#"></a>
        <a class="prev" href="#"></a>
        <ul class="numList">
            <li><a href="#">1</a></li>
            <li class="on"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
            <li><a href="#">10</a></li>
        </ul>
        <a class="next" href="#"></a>
        <a class="end" href="#"></a>
    </div>

</div>
<!-- //컨텐츠 내용 -->


<%- include('../../layout/type01/bottom.ejs', {
    url: "../../../"
}) %>