<%- include('../../layout/mng/header.ejs', {
    url: "../../../"
}) %>

                    <!-- 컨텐츠 내용 -->
                    <div class="layoutContArea">
                        
                        <!-- h2 타이틀 -->
                        <div class="comH2Group">
                            <div class="alignL">
                                <h2>팝업관리_텍스트 case</h2>
                            </div>
                            <div class="alignR">
                                <ul class="locaGroup">
                                    <li class="item">HOME</li>
                                    <li class="item">홈페이지관리</li>
                                    <li class="item">팝업관리</li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="cptTable">
                            <table class="tbView">
                                <colgroup>
                                    <col style="width:120px;">
                                    <col style="width:auto;">
                                </colgroup>
                                <caption></caption>
                                <tbody>
                                    <tr>
                                        <th class="left">제목</th>
                                        <td class="left">
                                            글 등록 시 작성한 제목 노출
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="left">팝업유형</th>
                                        <td class="left">
                                            텍스트
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="left">팝업종류</th>
                                        <td class="left">
                                            윈도우팝업
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="left">상태구분</th>
                                        <td class="left">
                                            게시
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="left">게시시간</th>
                                        <td class="left">
                                            2024-05-24 00:00 ~ 2024-05-31 23:59
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="left">팝업크기</th>
                                        <td class="left">
                                            가로 : 500px, 세로 : 500px
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="left">팝업위치</th>
                                        <td class="left">
                                            중앙
                                        </td>
                                    </tr>

                                    <tr>
                                        <th class="left">팝업내용</th>
                                        <td class="left">
                                            시스템 점검 안내<br/>
                                            더 나은 서비스를 위해 시스템 점검을 진행합니다.<br/>
                                            일정 : 2024년 5월 4일 23시 59분 ~ 2024년 5월 5일 10:00<br/>
                                            점검 시간 동안 사이트 접속이 제한됩니다.<br/>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th class="left">링크</th>
                                        <td class="left">
                                            링크없음
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="left">그만보기 사용</th>
                                        <td class="left">
                                            사용
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="left">작성자</th>
                                        <td class="left">
                                            홍길동 2024-05-05
                                        </td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>

                        <div class="cptGroupBtnCov">
                            <div class="cptGroupBtm alignL">
                                <div class="comSideOpt">
                                    <button type="button" class="crudBtn dkBlue">목록</button>
                                </div>
                            </div>
                            <div class="cptGroupBtm alignR">
                                <div class="comSideOpt">
                                    <button type="button" class="crudBtn red">삭제</button>
                                    <button type="button" class="crudBtn dkBlue">수정</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- //컨텐츠 내용 -->


<%- include('../../layout/mng/bottom.ejs', {
    url: "../../../"
}) %>