<%
var url = locals.url ? locals.url : '../../';
%>
                    <div class="cptSnav">
                        <div class="snavArea">
                            <div class="snavMenu">
                                <div class="snavTitle">유지보수</div>
                                <ul class="menuList">
                                    <li class="menuItem on"> <!-- class : on : 1depth 메뉴 활성화 -->
                                        <a href="#">유지보수목록</a>
                                    </li>
                                    <li class="menuItem"> <!--2 depth 경우 dropdown 클래스 추가-->
                                        <a href="#">유지보수재분류</a>
                                    </li>
                                    <li class="menuItem">
                                        <a href="#">유지보수목록_수행사</a>
                                    </li>
                                </ul>
                                <div class="snavBtm">
                                    <!-- <button class="iconDownload">관리시스템 메뉴얼</button> -->
                                </div>
                            </div>
                        </div>
                    </div>