<%
var url = locals.url ? locals.url : '../../';
%>
                <div class="cptHeader">
                    <div class="headerArea">
                        <div class="headerLogo"><h1><a href="#"><img src="/common/images/layout/type01/ci.png" alt="" /></a></h1></div>
                        <div class="headerGroup">
                            <div class="headerProfile">
                                <dl class="headerDate">
                                    <dt>최종 로그인 날짜 : </dt>
                                    <dd>2022-12-30 AM 09:30:00</dd>
                                </dl>
                                <div class="headerUser"><b>아이웍스 전체관리자</b>님</div> <!-- addClass - arr : 셀렉트 아이콘 표시, on : 셀렉트 아이콘 위/아래 표시 -->
                                <a href="#" class="headerBtn">로그아웃</a>
                            </div>
                            <div class="headerNav">
                                <ul class="menuList">
                                    <li class="menuItem on"> <!-- class : on : 1depth 메뉴 활성화 -->
                                        <a href="#">메인</a>
                                    </li>
                                    <li class="menuItem">
                                        <a href="#">업무요청</a>
                                    </li>
                                    <li class="menuItem">
                                        <a href="#">사용자관리</a>
                                    </li>
                                    <li class="menuItem">
                                        <a href="#">연락망</a>
                                    </li>
                                    <li class="menuItem">
                                        <a href="#">통계</a>
                                    </li>
                                </ul>
                                <div class="allMenuGroup">
                                    <button class="allMenu">전체메뉴</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="allMenuArea">
                        <ul class="menuList">
                            <li class="menuItem">
                                <a href="#">메인</a>
                                <ul class="subMenu">
                                    <li><a href="#">대시보드</a></li>
                                </ul>
                            </li>
                            <li class="menuItem">
                                <a href="#">업무요청</a>
                                <ul class="subMenu">
                                    <li><a href="#">유지보수</a></li>
                                </ul>
                            </li>
                            <li class="menuItem">
                                <a href="#">사용자관리</a>
                                <ul class="subMenu">
                                    <li><a href="#">시스템관리</a></li>
                                </ul>
                            </li>
                            <li class="menuItem">
                                <a href="#">연락망</a>
                                <ul class="subMenu">
                                    <li><a href="#">연락망</a></li>
                                </ul>
                            </li>
                            <li class="menuItem">
                                <a href="#">통계</a>
                                <ul class="subMenu">
                                    <li><a href="#">통계</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
