<%- include('../../layout/iwms/header.ejs', {
    theme: "iwms",
    url: "../../../"
}) %>

                    <!-- 컨텐츠 내용 -->
                    <div class="layoutContArea">
                        
                        <!-- h2 타이틀 -->
                        <div class="comH2Group">
                            <div class="alignL">
                                <h2>유지보수</h2>
                            </div>
                            <div class="alignR">
                                <ul class="locaGroup">
                                    <li class="item">HOME</li>
                                    <li class="item">업무요청</li>
                                    <li class="item">유지보수</li>
                                </ul>
                            </div>
                        </div>

                        <div class="cptSearchArea">
                            <table>
                                <caption></caption>
                                <colgroup>
                                    <col style="width:150px;">
                                    <col style="width:auto;">
                                    <col style="width:150px;">
                                    <col style="width:auto;">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>진행상태</th>
                                        <td colspan="3">
                                            <div class="frmGroup">
                                                <div class="frmChoBox"><input id="chk101" type="checkbox" class="iptChk" name="chk101"><label for="chk101" class="iptLbl">전체선택</label></div>
                                                <div class="frmChoBox"><input id="chk102" type="checkbox" class="iptChk" name="chk101"><label for="chk102" class="iptLbl">요청</label></div>
                                                <div class="frmChoBox"><input id="chk103" type="checkbox" class="iptChk" name="chk101"><label for="chk103" class="iptLbl">접수</label></div>
                                                <div class="frmChoBox"><input id="chk104" type="checkbox" class="iptChk" name="chk101"><label for="chk104" class="iptLbl">처리중</label></div>
                                                <div class="frmChoBox"><input id="chk105" type="checkbox" class="iptChk" name="chk101"><label for="chk105" class="iptLbl">처리완료</label></div>
                                                <div class="frmChoBox"><input id="chk106" type="checkbox" class="iptChk" name="chk101"><label for="chk106" class="iptLbl">검수완료</label></div>
                                                <div class="frmChoBox"><input id="chk107" type="checkbox" class="iptChk" name="chk101"><label for="chk107" class="iptLbl">검토</label></div>
                                                <div class="frmChoBox"><input id="chk108" type="checkbox" class="iptChk" name="chk101"><label for="chk108" class="iptLbl">반려</label></div>
                                                <div class="frmChoBox"><input id="chk109" type="checkbox" class="iptChk" name="chk101"><label for="chk109" class="iptLbl">협의요청</label></div>
                                                <div class="frmChoBox"><input id="chk110" type="checkbox" class="iptChk" name="chk101"><label for="chk110" class="iptLbl">취소</label></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>사이트구분</th>
                                        <td>
                                            <div class="frmGroup">
                                                <select name="" id="" class="iptSlt">
                                                    <option value="">전체</option>
                                                    <option value="">한국생활안내</option>
                                                    <option value="">정보더하기</option>
                                                    <option value="">장애인체력100</option>
                                                </select>
                                            </div>
                                        </td>
                                        <th>키워드검색</th>
                                        <td>
                                            <div class="frmGroup">
                                                <select name="" id="" class="iptSlt frmSm">
                                                    <option value="">요청제목</option>
                                                    <option value="">요청내용</option>
                                                    <option value="">등록자</option>
                                                    <option value="">검수자</option>
                                                    <option value="">처리자</option>
                                                </select>
                                                <input type="text" class="iptText" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>날짜검색</th>
                                        <td>
                                            <div class="frmGroup">
                                                <select name="" id="" class="iptSlt frmSm">
                                                    <option value="">등록일</option>
                                                    <option value="">처리일</option>
                                                </select>
                                                <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
                                                    <input id="startpicker-input" type="text" aria-label="Date">
                                                    <div id="startpicker-container" style="margin-left: -1px;"></div>
                                                </div>
                                                <div class="textBox deco">~</div>
                                                <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
                                                    <input id="endpicker-input" type="text" aria-label="Date">
                                                    <div id="endpicker-container" style="margin-left: -1px;"></div>
                                                </div>

                                                <script>
                                                    datePickerTo("startpicker-input", "startpicker-container", "endpicker-input", "endpicker-container");
                                                </script>
                                                
                                            </div>
                                        </td>
                                        <td colspan="2" class="right">
                                            <button class="btnSearch">검색</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="grpComponent">
                            <div class="cptGroupTop">
                                <div class="alignL">
                                    <div class="unit"><span class="text">전체 <span class="total">17</span>개</span> | <span class="text">현재페이지 1/2</span></div>
                                </div>
                                <div class="alignR">
                                    <div class="comSideOpt">
                                        <ul class="opList">
                                            <li class="item">
                                                <button class="srhBtn gLine">처리단계 도움말</button>
                                                <button class="srhBtn bLine">엑셀다운로드</button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="cptGrid">
                                <table class="gridTb">
                                    <colgroup>
                                        <col width="80px">
                                        <col width="auto">
                                        <col width="100px">
                                        <col width="105px">
                                        <col width="105px">
                                        <col width="100px">
                                        <col width="100px">
                                        <col width="105px">
                                        <col width="80px">
                                        <col width="80px">
                                        <col width="100px">
                                        <col width="105px">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>NO</th>
                                            <th>요청제목</th>
                                            <th>등록자</th>
                                            <th>등록일</th>
                                            <th>분류 제목</th>
                                            <th>작업</th>
                                            <th>처리자</th>	
                                            <th>처리일</th>					
                                            <th>개발상태</th>
                                            <th>최종상태</th>
                                            <th>검수자</th>
                                            <th>검수일</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>17</td>
                                            <td>
                                                <div class="titleBox">
                                                    <i>장애인체력100</i>
                                                    <a href="#">Test</a>
                                                </div>
                                            </td>
                                            <td>홍길동</td>
                                            <td>0000-00-00</td>
                                            <td>기능 개선 요청</td>
                                            <td>개발</td>
                                            <td>김정기</td>
                                            <td>0000-00-00</td>
                                            <td>
                                                <button type="button" class="gridBtn blue">접수</button>
                                            </td>
                                            <td>
                                                <button type="button" class="gridBtn blue">접수</button>
                                            </td>
                                            <td>홍길동</td>
                                            <td>00-00-00</td>
                                        </tr>
                                        <tr>
                                            <td>16</td>
                                            <td rowspan="3">
                                                <div class="titleBox">
                                                    <i>장애인체력100</i>
                                                    <a href="#">Test</a>
                                                </div>
                                            </td>
                                            <td rowspan="3">홍길동</td>
                                            <td rowspan="3">0000-00-00</td>
                                            <td>기능 개선 요청</td>
                                            <td>개발</td>
                                            <td>김정기</td>
                                            <td>0000-00-00</td>
                                            <td>
                                                <button type="button" class="gridBtn blue">접수</button>
                                            </td>
                                            <td>
                                                <button type="button" class="gridBtn blue">접수</button>
                                            </td>
                                            <td>홍길동</td>
                                            <td>00-00-00</td>
                                        </tr>
                                        <tr>
                                            <td>15</td>
                                            <td rowspan="2">기능 개선 요청</td>
                                            <td>기획</td>
                                            <td>강두현</td>
                                            <td>0000-00-00</td>
                                            <td>
                                                <button type="button" class="gridBtn red">취소</button>
                                            </td>
                                            <td rowspan="2">
                                                <button type="button" class="gridBtn blue">접수</button>
                                            </td>
                                            <td rowspan="2">홍길동</td>
                                            <td rowspan="2">00-00-00</td>
                                        </tr>
                                        <tr>
                                            <td>14</td>
                                            <td>개발</td>
                                            <td>전사은</td>
                                            <td>0000-00-00</td>
                                            <td class="noLast">
                                                <button type="button" class="gridBtn red">취소</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="12">
                                                검색 결과가 없습니다.
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
    
                            <!-- 페이징 -->
                            <div class="comPaging">
                                <a class="start" href="#"></a>
                                <a class="prev" href="#"></a>
                                <ul class="numList">
                                    <li><a href="#">1</a></li>
                                    <li class="on"><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">6</a></li>
                                    <li><a href="#">7</a></li>
                                    <li><a href="#">8</a></li>
                                    <li><a href="#">9</a></li>
                                    <li><a href="#">10</a></li>
                                </ul>
                                <a class="next" href="#"></a>
                                <a class="end" href="#"></a>
                            </div>

                        </div>

                        <div class="cptGroupBtm alignR">
                            <div class="comSideOpt">
                                <button type="button" class="crudBtn dkBlue">등록</button>
                            </div>
                        </div>


                    </div>
                    <!-- //컨텐츠 내용 -->

<%- include('../../layout/iwms/bottom.ejs', {
    url: "../../../"
}) %>