<%- include('../../layout/type01_dolbom/head.ejs', {
    url: "../../../",
    color: "orange"
}) %>

<style>
   html,body,.wrap {width:100%; height:100%;}
</style>

<!-- 정보 입력 팝업 -->
<div id="sample01" class="modPopup sm on"> <!-- class - md : 중간 팝업, on : 팝업오픈 -->
    <div class="popupDim">딤영역</div>
    <div class="popupArea"> <!-- style - 너비값(width), 높이값(height) : 팝업 너비 및 높이 지정 -->
        <div class="popupInMotion">
            <div class="popupContainer">
                <div class="popupContArea">
                    <button type="button" class="btnPopClose" onclick="closePopup('sample01');">닫기</button>
                    <div class="popTitle">정보입력</div>
                    <div class="popCont">
                        
                        <!-- 팝업 컨텐츠 영역 -->

                        <!-- 테이블 -->
                        <div class="cptTable">
                            <table class="tbView">
                                <colgroup>
                                    <col style="width:110px;">
                                    <col style="width:auto;">
                                </colgroup>
                                <caption></caption>
                                <tbody>
                                    <tr>
                                        <th class="left">이름<span class="required">*</span></th>
                                        <td class="left">홍길동</td>
                                    </tr>
                                    <tr>
                                        <th class="left">센터코드<span class="required">*</span></th>
                                        <td class="left"><input type="text" class="iptText frmLg" placeholder="NNNNN"><button class="gridBtn dkBlue">센터확인</button><br /><span class="validTxt"><img src="../../../common/images/common/icon_warn.png" alt="경고" class="vaildImg">센터코드를 입력해주세요.</span></td>
                                    </tr>
                                    <tr>
                                        <th class="left">광역센터명<span class="required">*</span></th>
                                        <td class="left"><input type="text" class="iptText" placeholder="OOO센터"></td>
                                    </tr>
                                    <tr>
                                        <th class="left">아이디<span class="required">*</span></th>
                                        <td class="left"><input type="text" class="iptText frmLg" placeholder="영문, 숫자 조합으로 6~20자리"><button class="gridBtn dkBlue">중복검사</button><br /><span class="validTxt vaildTxtBLue"><img src="../../../common/images/common/msgSelected.png" alt="확인" class="vaildImg">사용가능한 아이디입니다.</span></td>
                                    </tr>
                                    <tr>
                                        <th class="left">비밀번호<span class="required">*</span></th>
                                        <td class="left"><input type="text" class="iptText" placeholder="영문, 숫자, 특수문자 조합으로 8~20자리​"><br /><span class="validTxt"><img src="../../../common/images/common/icon_warn.png" alt="경고" class="vaildImg">센터코드를 입력해주세요.</span></td>
                                    </tr>
                                    <tr>
                                        <th class="left">비밀번호 확인<span class="required">*</span></th>
                                        <td class="left"><input type="text" class="iptText" placeholder="영문, 숫자, 특수문자 조합으로 8~20자리"><br /><span class="validTxt"><img src="../../../common/images/common/icon_warn.png" alt="경고" class="vaildImg">센터코드를 입력해주세요.</span></td>
                                    </tr>
                                    <tr>
                                        <th class="left">전화번호<span class="required">*</span></th>
                                        <td class="left">
                                            <div class="frmGroup">
                                                <select name="" id="" class="iptSlt">
                                                    <option value="">선택</option>
                                                </select>
                                                <div class="textBox deco">-</div>
                                                <input type="text" class="iptText">
                                                <div class="textBox deco">-</div>
                                                <input type="text" class="iptText">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="left">이메일<span class="required">*</span></th>
                                        <td class="left">
                                            <div class="frmGroup">
                                                <input type="text" class="iptText">
                                                <div class="textBox deco">@</div>
                                                <input type="text" class="iptText">
                                                <select name="" id="" class="iptSlt">
                                                    <option value="">선택</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- 작은 타이틀 -->
                        <div class="comSmTit">
                            <div class="alignL">
                                <div class="title">* 계정 신청 후 관리자의 승인이 완료되어야 로그인 가능합니다.​</div>
                            </div>
                        </div>

                        <!-- //팝업 컨텐츠 영역 -->

                    </div>
                    <!-- 팝업 버튼 영역 -->
                    <div class="popBtm">
                        <div class="alignR">
                            <button type="button" class="btn dkBlue" onclick="openAlert('splAlt01');">신청하기</button> <!-- 클릭 시, 신청 완료 알럿 호출 -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 신청 완료 알럿 5-1 -->
<div id="splAlt01" class="modAlert"> <!-- addClass - on:팝업오픈 -->
    <div class="alertArea">
        <div class="alertTit">
            <span>신규 계정 신청이 완료되었습니다.</span>
        </div>
        <div class="alertBtm">
            <button class="btn dkBlue" onclick="closeAlert('splAlt01');">확인</button> <!-- 클릭 시, 로그인 화면으로 이동 -->
        </div>
    </div>
</div>


<!-- 팝업 영역 -->

<%- include('../../layout/type01_dolbom/footer.ejs', {
    url: "../../../"
}) %>