<%- include('../../layout/type01_dolbom/head.ejs', {
    url: "../../../",
    color: "orange"
}) %>

<style>
   html,body,.wrap {width:100%; height:100%;}
</style>

<!-- 계정 기간 연장 팝업 -->
<div id="sample01" class="modPopup sm on"> <!-- class - md : 중간 팝업, on : 팝업오픈 -->
    <div class="popupDim">딤영역</div>
    <div class="popupArea"> <!-- style - 너비값(width), 높이값(height) : 팝업 너비 및 높이 지정 -->
        <div class="popupInMotion">
            <div class="popupContainer">
                <div class="popupContArea">
                    <button type="button" class="btnPopClose" onclick="closePopup('sample01');">닫기</button>
                    <div class="popTitle">본인인증</div>
                    <div class="popCont">
                        
                        <!-- 팝업 컨텐츠 영역 -->

                        <div class="comClause">
                            <div class="finCov">
                                <div class="finCont">
                                    <img src="../../../common/images/common/icon_phone.png" alt="핸드폰 아이콘 이미지 가운데에 체크표시가 되어있다.">
                                    <p class="txt">
                                        <span class="finTitle">본인인증</span>
                                        <span>실명인증을 위해 휴대폰 본인인증을 진행해 주세요.</span>
                                    </p>
                                    <button type="button" class="compBtn">휴대폰 본인인증</button> <!-- 클릭 시, 통신사 패스(pass) 인증 호출 / 인증 완료 시, 센터 담당자 정보 입력 화면으로 이동 (center.html) -->
                                </div>
                            </div>                     
                        </div>

                        <!-- 테이블 -->
                        

                        <!-- //팝업 컨텐츠 영역 -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 알럿 1-1 -->
<div id="splAlt01" class="modAlert"> <!-- addClass - on:팝업오픈 -->
    <div class="alertArea">
        <div class="alertTit">
            <img src="/common/images/common/icon_lgAlert.png" />
            <span>계정 만료일이 10일 남았습니다.<br /><em>(만료일 yyy-mm-dd)</em></span>
        </div>
        <div class="alertMsg lgAlertTy">[확인]을 클릭하면 연장 화면을 불러옵니다.</div>
        <!-- <div class="alertMsg lgAlertTy">아이디 또는 비밀번호 <span>오류 1회</span> 입니다.<br/>총 5회 로그인 실패시 5분동안 접속이 차단됩니다.</div> -->
        <div class="alertBtm">
            <button class="btn gLine" onclick="closeAlert('splAlt01');">취소</button>
            <button class="btn dkBlue">확인</button>
        </div>
    </div>
</div>

<!-- 알럿 1-2 -->
<div id="splAlt02" class="modAlert"> <!-- addClass - on:팝업오픈 -->
    <div class="alertArea">
        <div class="alertTit">
            <img src="/common/images/common/icon_lgAlert.png" />
            <span>계정 만료일이 만료 되었습니다.<br /><em>(만료일 yyy-mm-dd)</em></span>
        </div>
        <div class="alertMsg lgAlertTy">[확인]을 클릭하면 연장 화면을 불러옵니다.</div>
        <div class="alertBtm">
            <button class="btn gLine" onclick="closeAlert('splAlt02');">취소</button>
            <button class="btn dkBlue">확인</button>
        </div>
    </div>
</div>

<!-- 알럿 1-3 -->
<div id="splAlt03" class="modAlert"> <!-- addClass - on:팝업오픈 -->
    <div class="alertArea">
        <div class="alertTit">
            <img src="/common/images/common/icon_lgAlert.png" />
            <span>신규 계정 신청이 거부되었습니다.<br /><em>(문의 번호 000-000-0000)</em></span>
            <span>사유: ㅇㅇㅇㅇㅇㅇ</span>
        </div>
        <div class="alertBtm">
            <button class="btn dkBlue" onclick="closeAlert('splAlt03');">확인</button>
        </div>
    </div>
</div>


<!-- 알럿 1-4 -->
<div id="splAlt04" class="modAlert"> <!-- addClass - on:팝업오픈 -->
    <div class="alertArea">
        <div class="alertTit">
            <img src="/common/images/common/icon_lgAlert.png" />
            <span>계정이 정지된 상태입니다.<br /></span>
            <span>관리자에게 확인 후 다시 로그인 해주세요.</span>
        </div>
        <div class="alertBtm">
            <button class="btn dkBlue" onclick="closeAlert('splAlt04');">확인</button>
        </div>
    </div>
</div>


<!-- 팝업 영역 -->

<%- include('../../layout/type01_dolbom/footer.ejs', {
    url: "../../../"
}) %>