<%- include('../../layout/type01_dolbom/header.ejs', {
    url: "../../../",
    color: "orange"
}) %>

<!-- 컨텐츠 내용 -->
<!-- 검사 차수 팝업 -->
<div id="progressPop7" class="modPopup lg on"> <!-- class - on : 팝업오픈 -->
    <div class="popupDim">딤영역</div>
    <div class="popupArea"> <!-- style - 너비값(width), 높이값(height) : 팝업 너비 및 높이 지정 -->
        <div class="popupInMotion">
            <div class="popupContainer">
                <div class="popupContArea">
                    <button class="btnPopClose" onclick="closePopup('progressPop7');">닫기</button>
                    <div class="popTitle">인적성 검사 이력</div>
                    <div class="popCont">
                        
                        <!-- 팝업 컨텐츠 영역 -->
                        <div class="cptTable">
                            <table class="tbView">
                                <colgroup>
                                    <col style="width:10%;">
                                    <col style="width:10%;">
                                    <col style="width:10%;">
                                    <col style="width:10%;">
                                    <col style="width:10%;">
                                    <col style="width:10%;">
                                    <col style="width:10%;">
                                    <col style="width:10%;">
                                    <col style="width:10%;">
                                    <col style="width:10%;">
                                </colgroup>
                                <caption></caption>
                                <thead>
                                    <tr>
                                        <th>센터명</th>
                                        <th>시/도</th>
                                        <th>시/군/구</th>
                                        <th>진행률</th>
                                        <th>등급</th>
                                        <th>상태</th>
                                        <th>긍정편향</th>
                                        <th>응답일관성</th>
                                        <th>위험조항</th>
                                        <th>검사일자</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="center">한국건강가정진흥원</td>
                                        <td class="center">서울특별시</td>
                                        <td class="center">동대문구</td>
                                        <td class="center">100%</td>
                                        <td class="center">매우양호(S)</td>
                                        <td class="center">완료</td>
                                        <td class="center">일관적</td>
                                        <td class="center">응답신뢰</td>
                                        <td class="center">2건</td>
                                        <td class="center">YYYY-MM-DD</td>
                                    </tr>
                                    <tr>
                                        <td class="center">한국건강가정진흥원</td>
                                        <td class="center">서울특별시</td>
                                        <td class="center">동대문구</td>
                                        <td class="center">100%</td>
                                        <td class="center">매우양호(S)</td>
                                        <td class="center">완료</td>
                                        <td class="center">일관적</td>
                                        <td class="center">응답신뢰</td>
                                        <td class="center">2건</td>
                                        <td class="center">YYYY-MM-DD</td>
                                    </tr>
                                    <tr>
                                        <td class="center">한국건강가정진흥원</td>
                                        <td class="center">서울특별시</td>
                                        <td class="center">동대문구</td>
                                        <td class="center">100%</td>
                                        <td class="center">매우양호(S)</td>
                                        <td class="center">완료</td>
                                        <td class="center">일관적</td>
                                        <td class="center">응답신뢰</td>
                                        <td class="center">2건</td>
                                        <td class="center">YYYY-MM-DD</td>
                                    </tr>
                                    <tr>
                                        <td class="center">한국건강가정진흥원</td>
                                        <td class="center">서울특별시</td>
                                        <td class="center">동대문구</td>
                                        <td class="center">100%</td>
                                        <td class="center">매우양호(S)</td>
                                        <td class="center">완료</td>
                                        <td class="center">일관적</td>
                                        <td class="center">응답신뢰</td>
                                        <td class="center">2건</td>
                                        <td class="center">YYYY-MM-DD</td>
                                    </tr>
                                    <tr>
                                        <td class="center">한국건강가정진흥원</td>
                                        <td class="center">서울특별시</td>
                                        <td class="center">동대문구</td>
                                        <td class="center">100%</td>
                                        <td class="center">매우양호(S)</td>
                                        <td class="center">완료</td>
                                        <td class="center">일관적</td>
                                        <td class="center">응답신뢰</td>
                                        <td class="center">2건</td>
                                        <td class="center">YYYY-MM-DD</td>
                                    </tr>
                                    <tr>
                                        <td class="center">한국건강가정진흥원</td>
                                        <td class="center">서울특별시</td>
                                        <td class="center">동대문구</td>
                                        <td class="center">100%</td>
                                        <td class="center">매우양호(S)</td>
                                        <td class="center">완료</td>
                                        <td class="center">일관적</td>
                                        <td class="center">응답신뢰</td>
                                        <td class="center">2건</td>
                                        <td class="center">YYYY-MM-DD</td>
                                    </tr>
                                    <tr>
                                        <td class="center">한국건강가정진흥원</td>
                                        <td class="center">서울특별시</td>
                                        <td class="center">동대문구</td>
                                        <td class="center">100%</td>
                                        <td class="center">매우양호(S)</td>
                                        <td class="center">완료</td>
                                        <td class="center">일관적</td>
                                        <td class="center">응답신뢰</td>
                                        <td class="center">2건</td>
                                        <td class="center">YYYY-MM-DD</td>
                                    </tr>
                                    <tr>
                                        <td class="center">한국건강가정진흥원</td>
                                        <td class="center">서울특별시</td>
                                        <td class="center">동대문구</td>
                                        <td class="center">100%</td>
                                        <td class="center">매우양호(S)</td>
                                        <td class="center">완료</td>
                                        <td class="center">일관적</td>
                                        <td class="center">응답신뢰</td>
                                        <td class="center">2건</td>
                                        <td class="center">YYYY-MM-DD</td>
                                    </tr>
                                    <tr>
                                        <td class="center">한국건강가정진흥원</td>
                                        <td class="center">서울특별시</td>
                                        <td class="center">동대문구</td>
                                        <td class="center">100%</td>
                                        <td class="center">매우양호(S)</td>
                                        <td class="center">완료</td>
                                        <td class="center">일관적</td>
                                        <td class="center">응답신뢰</td>
                                        <td class="center">2건</td>
                                        <td class="center">YYYY-MM-DD</td>
                                    </tr>
                                    <tr>
                                        <td class="center">한국건강가정진흥원</td>
                                        <td class="center">서울특별시</td>
                                        <td class="center">동대문구</td>
                                        <td class="center">100%</td>
                                        <td class="center">매우양호(S)</td>
                                        <td class="center">완료</td>
                                        <td class="center">일관적</td>
                                        <td class="center">응답신뢰</td>
                                        <td class="center">2건</td>
                                        <td class="center">YYYY-MM-DD</td>
                                    </tr>

                                    <tr>
                                        <td class="center">한국건강가정진흥원</td>
                                        <td class="center">서울특별시</td>
                                        <td class="center">동대문구</td>
                                        <td class="center">100%</td>
                                        <td class="center">매우양호(S)</td>
                                        <td class="center">완료</td>
                                        <td class="center">일관적</td>
                                        <td class="center">응답신뢰</td>
                                        <td class="center">2건</td>
                                        <td class="center">YYYY-MM-DD</td>
                                    </tr>
                                    <tr>
                                        <td class="center">한국건강가정진흥원</td>
                                        <td class="center">서울특별시</td>
                                        <td class="center">동대문구</td>
                                        <td class="center">100%</td>
                                        <td class="center">매우양호(S)</td>
                                        <td class="center">완료</td>
                                        <td class="center">일관적</td>
                                        <td class="center">응답신뢰</td>
                                        <td class="center">2건</td>
                                        <td class="center">YYYY-MM-DD</td>
                                    </tr>
                                    <tr>
                                        <td class="center">한국건강가정진흥원</td>
                                        <td class="center">서울특별시</td>
                                        <td class="center">동대문구</td>
                                        <td class="center">100%</td>
                                        <td class="center">매우양호(S)</td>
                                        <td class="center">완료</td>
                                        <td class="center">일관적</td>
                                        <td class="center">응답신뢰</td>
                                        <td class="center">2건</td>
                                        <td class="center">YYYY-MM-DD</td>
                                    </tr>
                                    <tr>
                                        <td class="center">한국건강가정진흥원</td>
                                        <td class="center">서울특별시</td>
                                        <td class="center">동대문구</td>
                                        <td class="center">100%</td>
                                        <td class="center">매우양호(S)</td>
                                        <td class="center">완료</td>
                                        <td class="center">일관적</td>
                                        <td class="center">응답신뢰</td>
                                        <td class="center">2건</td>
                                        <td class="center">YYYY-MM-DD</td>
                                    </tr>
                                    <tr>
                                        <td class="center">한국건강가정진흥원</td>
                                        <td class="center">서울특별시</td>
                                        <td class="center">동대문구</td>
                                        <td class="center">100%</td>
                                        <td class="center">매우양호(S)</td>
                                        <td class="center">완료</td>
                                        <td class="center">일관적</td>
                                        <td class="center">응답신뢰</td>
                                        <td class="center">2건</td>
                                        <td class="center">YYYY-MM-DD</td>
                                    </tr>
                                    <tr>
                                        <td class="center">한국건강가정진흥원</td>
                                        <td class="center">서울특별시</td>
                                        <td class="center">동대문구</td>
                                        <td class="center">100%</td>
                                        <td class="center">매우양호(S)</td>
                                        <td class="center">완료</td>
                                        <td class="center">일관적</td>
                                        <td class="center">응답신뢰</td>
                                        <td class="center">2건</td>
                                        <td class="center">YYYY-MM-DD</td>
                                    </tr>
                                    <tr>
                                        <td class="center">한국건강가정진흥원</td>
                                        <td class="center">서울특별시</td>
                                        <td class="center">동대문구</td>
                                        <td class="center">100%</td>
                                        <td class="center">매우양호(S)</td>
                                        <td class="center">완료</td>
                                        <td class="center">일관적</td>
                                        <td class="center">응답신뢰</td>
                                        <td class="center">2건</td>
                                        <td class="center">YYYY-MM-DD</td>
                                    </tr>
                                    <tr>
                                        <td class="center">한국건강가정진흥원</td>
                                        <td class="center">서울특별시</td>
                                        <td class="center">동대문구</td>
                                        <td class="center">100%</td>
                                        <td class="center">매우양호(S)</td>
                                        <td class="center">완료</td>
                                        <td class="center">일관적</td>
                                        <td class="center">응답신뢰</td>
                                        <td class="center">2건</td>
                                        <td class="center">YYYY-MM-DD</td>
                                    </tr>
                                    <tr>
                                        <td class="center">한국건강가정진흥원</td>
                                        <td class="center">서울특별시</td>
                                        <td class="center">동대문구</td>
                                        <td class="center">100%</td>
                                        <td class="center">매우양호(S)</td>
                                        <td class="center">완료</td>
                                        <td class="center">일관적</td>
                                        <td class="center">응답신뢰</td>
                                        <td class="center">2건</td>
                                        <td class="center">YYYY-MM-DD</td>
                                    </tr>
                                    <tr>
                                        <td class="center">한국건강가정진흥원</td>
                                        <td class="center">서울특별시</td>
                                        <td class="center">동대문구</td>
                                        <td class="center">100%</td>
                                        <td class="center">매우양호(S)</td>
                                        <td class="center">완료</td>
                                        <td class="center">일관적</td>
                                        <td class="center">응답신뢰</td>
                                        <td class="center">2건</td>
                                        <td class="center">YYYY-MM-DD</td>
                                    </tr>
                                    <tr>
                                        <td class="center">한국건강가정진흥원</td>
                                        <td class="center">서울특별시</td>
                                        <td class="center">동대문구</td>
                                        <td class="center">100%</td>
                                        <td class="center">매우양호(S)</td>
                                        <td class="center">완료</td>
                                        <td class="center">일관적</td>
                                        <td class="center">응답신뢰</td>
                                        <td class="center">2건</td>
                                        <td class="center">YYYY-MM-DD</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- //팝업 컨텐츠 영역 -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //컨텐츠 내용 -->
<script>
    // script for grid (data table) right side possible to scroll in vertical
    // 테이블 구역 표시
    $("document").ready(function(){
        $(".cptVertScr table tr td").hover(function(ev){
            $(".cptVertScr .rytBody table tr td").css("color","#bbbbbb;");
            $(".cptVertScr .rytBody table tr td a").css("color","#bbbbbb;");
            var row = $(this).parents("table").find("tr").length - 1;
            var idx_tr = $(this).parent("tr").index()+1;
            var idx_td = $(this).index()+1;
            var area = $(this).parents("div");
            
            $(this).parent("tr").find("td").addClass("mEnt");

            $(".cptVertScr .lftHead table tr:nth-of-type("+ idx_tr +") > td").addClass("mEnt");
            $(".cptVertScr .rytBody table tr:nth-of-type("+ idx_tr +") > td").addClass("mEnt");

            //if($(area).hasClass("lftHead")){
            //}else if($(area).hasClass("rytBody")){
            //    $(".rytBody table tr td").removeClass("mEnt");
            //    $(".rytBody table tr td:nth-of-type("+ idx_td +")").addClass("mEnt");
            //   $(".cptVertScr .rytBody table tr:nth-of-type("+ idx_tr +") > td").addClass("mEnt");
            //    $(".cptVertScr .lftHead table tr:nth-of-type("+ idx_tr +") > td").addClass("mEnt");
            //}
        }, function(ev){
            $(".cptVertScr .lftHead table tr td").removeClass("mEnt");
            $(".cptVertScr .rytBody table tr td").removeClass("mEnt");
            $(".cptVertScr .rytBody table tr td").css("color","#333;");
            $(".cptVertScr .rytBody table tr td a").css("color","#333;");
            $(this).parent("tr").removeClass("mEnt");  
        })
    })
</script>

<%- include('../../layout/type01_dolbom/bottom.ejs', {
    url: "../../../"
}) %>